<!DOCTYPE html>
<html>
<head>
    <title>Order Detail</title>
    <link href="~/css/manager/print.css" rel="stylesheet" />
    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <link href="~/css/orders/stylesheet.css" rel="stylesheet" />
    <link href="~/css/manager/table.css" rel="stylesheet" />
</head>
<body>
    <div class="container print-container">
        <h2>Chi tiết đơn hàng</h2>
        @*Thông tin đơn hàng*@
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mã đơn hàng :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model.OrderId">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Ngày mua hàng :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model?.OrderDate">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Trạng thái :</label>
            <div class="col-sm-9" style="padding-top:8px">
                @if (Model?.OrderStatus.Trim() == "Confirmed")
                {
                    <span style="display:inline-block" class="badge badge-info">Đã trả phòng</span>
                }
                else if (Model?.OrderStatus.Trim() == "Processing")
                {
                    <span style="display:inline-block" class="badge badge-info">Đã nhận phòng</span>
                }
                else if (Model?.OrderStatus.Trim() == "Refund")
                {
                    <span style="display:inline-block" class="badge badge-info">Hoàn tiền</span>
                }
                else if (Model?.OrderStatus.Trim() == "Placed")
                {
                    <span style="display:inline-block" class="badge badge-info">Chờ nhận phòng</span>
                }
                else if (Model?.OrderStatus.Trim() == "Cancelled")
                {
                    <span style="display:inline-block" class="badge badge-info">Phòng bị huỷ </span>
                }
            </div>
        </div>
        @*Thông tin khách hàng*@
        <h3>Thông tin khách hàng</h3>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tên Khách Hàng :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model.FullName">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Địa chỉ :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext"
                       value="@Model.Province , @Model.District , @Model.Commune">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Địa chỉ cụ thể :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Address">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Thông tin liên hệ :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Phone">
            </div>
        </div>

        @if (Model.BookingRoomDetails != null && Model.BookingRoomDetails.Count > 0)
        {
            <h4>Thông tin phòng</h4>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tên Phòng</th>
                            <th>Giá phòng</th>
                            <th>Dịch vụ trong phòng</th>
                            <th>Thời gian</th>
                            <th>Tổng giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var roomDetail in Model.BookingRoomDetails)
                        {
                            <tr>
                                <td>@roomDetail.Room.RoomName</td>
                                <td>
                                    @($"{roomDetail.Price:n0}".Replace(",", ".")) VNĐ
                                </td>
                                <td>
                                    @foreach (var roomService in Model.BookingRoomServices)
                                    {
                                        <div style="width: 250px;" class="room-info-detail-service">
                                            <p style="font-size:.8rem;">Dịch vụ: @roomService.Service.ServiceName</p>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <div class="content-detail-time-service">
                                        <p style="font-size:.8rem;">Thời gian bắt đầu: <br></br> @roomDetail?.StartDate</p>
                                        <p style="font-size:.8rem;">Thời gian kêt thúc: <br></br> @roomDetail?.EndDate </p>
                                    </div>
                                </td>
                                <td>
                                    @($"{roomDetail.TotalPrice:n0}".Replace(",", ".")) VNĐ
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        <div style="margin-bottom:0" class="form-group row">
            <p class="col-sm-6 col-form-label">Hoá đơn</p>
            <p class="col-sm-6 col-form-label" style="text-align:end">Thanh toán</p>
        </div>
        <div class="form-group row">
            <p class="col-sm-6 col-form-label"><strong>#</strong></td>
            <p class="col-sm-6 col-form-label" style="text-align:end"><strong>@($"{Model.TotalPrice:n0}".Replace(",", ".")) VNĐ</strong></p>
        </div>

        <div class="work-container-inner">
            @if (Model != null && Model.TypePay != null && Model.TypePay.Trim() == "cash")
            {
                <p>Thanh toán trực tiếp</p>
            }
            @if (Model != null && Model.TypePay != null && @Model.TypePay.Trim() == "vnpay")
            {
                <p>Thanh toán bằng hình thức chuyển khoản</p>
            }
            @if (!@Model.StatusPayment)
            {
                <span class="badge badge-info">Chưa thanh toán</span>
            }
            else
            {
                <span class="badge badge-info">Đã thanh toán</span>
            }
        </div>
        <form method="post" asp-controller="OrdersRoom" asp-action="OrderRoomDetail">
            @if (Model.OrderStatus.Trim() == "Placed")
            {
                <input type="hidden" name="Id" value="@Model?.OrderId" />
                <input type="hidden" name="oldStatus" value="@Model?.OrderStatus.Trim()" />

                <select style="margin-bottom:12px;" class="form-select select-status" name="newStatus">
                    <option value="Processing">Xác nhận khách nhận phòng</option>
                    <option value="Cancelled">Xác nhận huỷ phòng</option>
                </select>

                <button class="btn btn-primary" type="submit">Xác nhận</button>
            }
            @if (Model.OrderStatus.Trim() == "Processing")
            {
                <input type="hidden" name="Id" value="@Model?.OrderId" />
                <input type="hidden" name="oldStatus" value="@Model?.OrderStatus.Trim()" />

                <select style="margin-bottom:12px;" class="form-select select-status" name="newStatus">
                    <option value="Confirmed">Xác nhận trả phòng</option>
                    @if (Model?.OrderStatus.Trim() != "Processing")
                    {
                        <option value="Cancelled">Xác nhận huỷ phòng</option>
                    }
                </select>

                <button class="btn btn-primary" type="submit">Xác nhận</button>
            }
        </form>

        <button class="btn btn-primary" onclick="window.print()">In hoá đơn</button>
        <div class="btn-group">
            <a class="btn btn-primary" href="~/Manager/OrdersRoom/Index">Trở lại</a>
        </div>
    </div>
</body>
</html>
