<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/ProductDetail.css">
</head>


<body class="sticky-header">
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
    <header class="header axil-header header-style-5">

    </header>

    <main class="main-wrapper">
        <div class="axil-single-product-area bg-color-white">
            <div class="single-product-thumb axil-section-gap pb--30 pb_sm--20">
                <div class="container">
                    <div class="row row--50">
                        <div class="col-lg-6 mb--40">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-large-thumbnail-2 single-product-thumbnail axil-product slick-layout-wrapper--15 axil-slick-arrow arrow-both-side-3">
                                        <div class="thumbnail">
                                            <img src="@Model?.Product.Picture" alt="Product Images">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="small-thumb-wrapper product-small-thumb-2 small-thumb-style-two small-thumb-style-three">
                                        @foreach (var cateProduct in Model?.CateProduct)
                                        {
                                        <div class="small-thumb-img ">
                                           <a href="/ProductList/Detail?proId=@cateProduct.ProductId"> <img src="@cateProduct.Picture" alt="samll-thumb"> </a>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <h2 class="product-title">@Model.Product.ProductName</h2>
                                    <div class="price-amount price-offer-amount">
                                        <span class="price current-price">@Model.Product.Price</span>
                                    </div>
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= (ViewBag.productStar ?? 5))
                                                {
                                                    <i class="fas fa-star"></i>
                                                }
                                                else if (i - ViewBag.productStar < 1)
                                                {
                                                    <i class="fas fa-star-half-alt"></i>
                                                }
                                                else
                                                {
                                                    <i class="far fa-star"></i>
                                                }
                                            }
                                            <span style="color: #7e7e7e; font-size: 17px;">@ViewBag.productStar</span>
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(<span>@ViewBag.FeedbackCount</span> đánh giá của khách hàng)</a>
                                        </div>
                                    </div>
                                    <ul class="product-meta">
                                        <li><i class="fal fa-check"></i>Sản phẩm đảm bảo chất lượng</li>
                                        <li><i class="fal fa-check"></i>Nhân viên tư vấn tận tình</li>
                                    </ul>
                                    <p class="description mb--40">@Model.Product.Desciption</p>
                                    <div class="product-variation product-size-variation">
                                        <h6 class="title">Số lượng:</h6>
                                        <div class="pro-qty mr--20">
                                            <input 
                                                id="quantityInput"
                                                class="form-control"
                                                type="number"
                                                value="1"
                                                min="1"
                                                oninput="validateQuantity()"
                                            />
                                            <span id="quantityError" style="color: red; display: none;">Số lượng phải lớn hơn hoặc bằng 1</span>
                                        </div>

                                        <span>@Model.Product.Quantity sản phẩm có sẵn</span>
                                    </div>
                                    <div class="product-action-wrapper d-flex-center">
                                        <!-- Start Product Action  -->
                                        <ul class="product-action action-style-two d-flex-center mb--0">
                                            @if (@Model.Product.Quantity > 0)
                                            {
                                                <form method="post" action="@Url.Action("AddToCart", "ProductList")">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="ProductId" value="@Model.Product.ProductId" />
                                                    <button class="axil-btn btn-bg-primary updateProductQuantityCart" type="button" style="width:300px;">
                                                        <i class="fas fa-cart-plus"></i> Thêm vào giỏ hàng
                                                    </button>
                                                </form>
                                                <form method="post" action="@Url.Action("AddToCart", "ProductList")">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="ProductId" id="productId" value="@Model.Product.ProductId" />
                                                    <button style="width:200px; margin-left: 5px;" href="" class="axil-btn btn-bg-primary updateProductQuantity" type="submit">
                                                        <i class="fas fa-cart-plus"></i>Mua ngay
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                            }
                                        </ul>
                                        <!-- End Product Action  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="woocommerce-tabs wc-tabs-wrapper bg-vista-white">
                <div class="container">
                    <div class="product-desc-wrapper mb--30 mb_sm--10">
                        <h4 class="mb--60 desc-heading">Giới thiệu</h4>
                        <div class="row mb--15">
                            <div class="col-lg-6 mb--30">
                                <div class="single-desc">
                                    <h5 class="title">Nhân viên:</h5>
                                    <p>Tại đây, chúng tôi có một đội ngũ nhân viên tư vấn chuyên nghiệp và tận tâm, sẵn sàng giúp bạn lựa chọn những món đồ phù hợp nhất cho thú cưng của bạn. Nhân viên tư vấn của chúng tôi là những người yêu thú cưng và có
                                        kiến thức sâu rộng về các loại thú cưng khác nhau. Họ sẽ lắng nghe nhu cầu và mong muốn của bạn, và đưa ra những gợi ý hợp lý và hữu ích. Họ cũng sẽ giới thiệu cho bạn những sản phẩm mới nhất và chất lượng nhất
                                        trên thị trường, cũng như những khuyến mãi và ưu đãi hấp dẫn. Hãy đến với Pet Shop và gặp gỡ nhân viên tư vấn của chúng tôi, bạn sẽ không phải thất vọng. Chúng tôi luôn mong muốn mang lại cho bạn và thú cưng của
                                        bạn những trải nghiệm tuyệt vời nhất. Pet Shop - nơi bạn và thú cưng được yêu thương.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 mb--30">
                                <div class="single-desc">
                                    <h5 class="title">Sản phẩm</h5>
                                    <p>Các sản phẩm thú cưng của cửa hàng đều được chọn lọc kỹ lưỡng từ các nhà cung cấp uy tín và chất lượng cao. Bạn có thể yên tâm về chất lượng của các sản phẩm, vì chúng đều đạt tiêu chuẩn an toàn và chăm sóc thú cưng
                                        tốt nhất. Bạn có thể xem thêm các chứng nhận và đánh giá của các sản phẩm trên trang web của cửa hàng.Cửa hàng cũng có dịch vụ vận chuyển nhanh chóng và tiện lợi cho khách hàng. Bạn chỉ cần đặt hàng trên trang web
                                        hoặc qua điện thoại, và cửa hàng sẽ giao hàng cho bạn trong vòng 24 giờ. Bạn cũng có thể theo dõi trạng thái đơn hàng của mình trên trang web hoặc qua ứng dụng di động của cửa hàng. Ngoài ra, bạn cũng có thể nhận
                                        được những ưu đãi và quà tặng hấp dẫn khi mua hàng trên trang web của cửa hàng.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="pro-des-features">
                                    <li class="single-features">
                                        <div class="icon">
                                            <img src="~/img/Product/iconproduct1.png" alt="icon">
                                        </div>
                                        Dễ đổi trả hàng
                                    </li>
                                    <li class="single-features">
                                        <div class="icon">
                                            <img src="~/img/Product/iconproduct2.png" alt="icon">
                                        </div>
                                        Sản phẩm chất lượng
                                    </li>
                                    <li class="single-features">
                                        <div class="icon">
                                            <img src="~/img/Product/iconproduct3.png" alt="icon">
                                        </div>
                                        Phục vụ tận tình
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="reviews-wrapper">
                        <h4 class="mb--60">Đánh giá</h4>
                        <div class="row">
                            <div class="col-lg-12 mb--40">
                                <div class="axil-comment-area pro-desc-commnet-area">
                                    @if (Model.Feedback != null && Model.Feedback.Count > 0)
                                    {
                                        <div class="feedback-title-sort">
                                            <h5 class="title">Có @ViewBag.FeedbacksCount đánh giá cho sản phẩm này</h5>
                                            <form method="get">
                                                <input type="hidden" name="proId" value="@Model.Product.ProductId">
                                                <select name="sortby" onchange="this.form.submit();">
                                                    <!option style="color: black" value="" @(ViewBag.sortby == null ? "selected" : "")>Tất cả</!option>
                                                    <!option class="option" style="color: gold" value="5star" @(ViewBag.sortby == "5star" ? "selected" : "") @(Model.VoteNumberas.number5s == 0 ? "disabled" : "")>&#9733;&#9733;&#9733;&#9733;&#9733;&ensp; @Model.VoteNumberas.number5s</!option>
                                                    <!option class="option" style="color: gold" value="4star" @(ViewBag.sortby == "4star" ? "selected" : "") @(Model.VoteNumberas.number4s == 0 ? "disabled" : "")>&#9733;&#9733;&#9733;&#9733;&#9734;&ensp; @Model.VoteNumberas.number4s</!option>
                                                    <!option class="option" style="color: gold" value="3star" @(ViewBag.sortby == "3star" ? "selected" : "") @(Model.VoteNumberas.number3s == 0 ? "disabled" : "")>&#9733;&#9733;&#9733;&#9734;&#9734;&ensp; @Model.VoteNumberas.number3s</!option>
                                                    <!option class="option" style="color: gold" value="2star" @(ViewBag.sortby == "2star" ? "selected" : "") @(Model.VoteNumberas.number2s == 0 ? "disabled" : "")>&#9733;&#9733;&#9734;&#9734;&#9734;&ensp; @Model.VoteNumberas.number2s</!option>
                                                    <!option class="option" style="color: gold" value="1star" @(ViewBag.sortby == "1star" ? "selected" : "") @(Model.VoteNumberas.number1s == 0 ? "disabled" : "")>&#9733;&#9734;&#9734;&#9734;&#9734;&ensp; @Model.VoteNumberas.number1s</!option>
                                                </select>
                                            </form>
                                        </div>
                                        <ul class="comment-list">
                                            @foreach (var feedback in Model.Feedback)
                                            {
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="single-comment">
                                                            <div class="comment-img">
                                                                <img src="@feedback.UserImage" alt="Author Images" style="height: 60px; width: 60px;">
                                                            </div>
                                                                <div class="comment-inner" style="width: 100%;">
                                                                <h6 class="commenter">
                                                                    <a class="hover-flip-item-wrapper" href="#">
                                                                        <span class="hover-flip-item">
                                                                            <span data-text="Cameron Williamson">@feedback.UserName</span>
                                                                        </span>
                                                                    </a>
                                                                    <span class="commenter-rating ratiing-four-star">
                                                                        @for (int i = 1; i <= 5; i++)
                                                                        {
                                                                            if (i <= @feedback.NumberStart)
                                                                            {
                                                                                <a href="#"><i class="fas fa-star"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="#"><i class="fas fa-star empty-rating"></i></a>
                                                                            }
                                                                        }
                                                                    </span>
                                                                </h6>
                                                                <div class="comment-text">
                                                                    <p>@feedback.Content</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                        <div style="text-align: center">
                                            <div class="pagination">
                                                @{
                                                    int pagenumber = ((@ViewBag.FeedbacksCount - 1) / 5) + 1;
                                                    @if (ViewBag.CurrentPage > 1)
                                                    {
                                                        <a href="@Url.Action("Detail", new { proId = Model.Product.ProductId, sortby = ViewBag.sortby, page = ViewBag.CurrentPage - 1 })">&laquo;</a>
                                                    }
                                                    @for (int i = 1; i <= pagenumber; i++)
                                                    {
                                                        <a class="active @(i == ViewBag.CurrentPage ? "active1" : "")" href="@Url.Action("Detail", new { proId = Model.Product.ProductId, sortby = ViewBag.sortby, page = i })">@i</a>
                                                    }
                                                    @if (ViewBag.CurrentPage < pagenumber)
                                                    {
                                                        <a href="@Url.Action("Detail", new { proId = Model.Product.ProductId, sortby = ViewBag.sortby, page = ViewBag.CurrentPage + 1 })">&raquo;</a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <h5 class="title">Hiện chưa có đánh giá cho sản phẩm này.</h5>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="axil-product-area bg-color-white axil-section-gap pb--50 pb_sm--30">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i>Sản phẩm bạn có thể tham khảo</span>
                </div>
                <div class="recent-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                    @foreach (var product in Model.products)
                    {
                    <div class="slick-single-layout">
                        <div class="axil-product">
                            <div class="thumbnail">
                                <a href="/ProductList/Detail?proId=@product.ProductId">
                                    <img src="@product.Picture" alt="Product Images">   
                                </a>
                                <div class="product-hover-action">
                                    <ul class="cart-action">
                                            <form method="post" action="@Url.Action("AddToCart", "ProductList")">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="ProductId" id="productId" value="@Model.Product.ProductId" />
                                                <button style="width:200px; margin-left: 5px;" href="" class="axil-btn btn-bg-primary updateProductQuantity" type="submit">
                                                    <i class="fas fa-cart-plus"></i>Mua ngay
                                                </button>
                                            </form>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="inner">
                                    <h5 class="title"><a href="/ProductList/Detail?proId=@product.ProductId">@product.ProductName</a></h5>
                                    <div class="product-price-variant">
                                        <span class="price current-price">@product.Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div id="toast"></div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var priceElements = document.querySelectorAll('.current-price');
            priceElements.forEach(function (priceElement) {
                var priceText = priceElement.textContent.trim();
                var price = parseFloat(priceText.replace(/\s/g, '').replace('VNĐ', ''));
                var formattedPrice = price.toLocaleString('vi-VN');
                priceElement.textContent = formattedPrice + ' VNĐ';
            });
        });

        $(document).ready(function () {
            $(".updateProductQuantity").click(function (event) {
                event.preventDefault();
                var productid = $("#productId").val();
                var quantity = $("#quantityInput");
                var currentQuantity = parseInt(quantity.val());

                if (currentQuantity <= 0) {
                    // Hiển thị thông báo lỗi hoặc xử lý theo cách cần thiết
                    console.error("Số lượng phải lớn hơn 0");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddToCart", "ProductList")",
                    data: {
                        productid: productid,
                        quantityProduct: currentQuantity
                    },
                    success: function (result) {
                        window.location.href = "@Url.Action("Index", "Cart")";
                    },
                    error: function (xhr, status, error) {
                        showErrorToastQuantityProduct(xhr.responseText);
                        console.error("Error updating cart:", error);
                    }
                });
            });

            function showErrorToastQuantityProduct(errorMessage) {
                console.error(errorMessage);
                toast({
                    title: 'Thất bại',
                    message: errorMessage,
                    type: 'error',
                    duration: 2000
                });
            }

            $(".updateProductQuantityCart").click(function (event) {
                event.preventDefault();
                var productid = $("#productId").val();
                var quantity = $("#quantityInput").val();
                var currentQuantity = parseInt(quantity.val());

                if (currentQuantity <= 0) {
                    // Hiển thị thông báo lỗi hoặc xử lý theo cách cần thiết
                    console.error("Số lượng phải lớn hơn 0");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddToCart", "ProductList")",
                    data: {
                        productid: productid,
                        quantityProduct: currentQuantity
                    },
                    headers: {
                        RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {
                        $('#successModal').modal('show');
                        console.log(result);
                        updateCartCount(result.totalQuantity);
                    },
                    error: function (xhr, status, error) {
                        showErrorToast(xhr.responseText);
                        console.error("Error updating cart:", error);
                    }
                });
            });
        });
    </script>
    <script>
        function validateQuantity() {
            var input = document.getElementById('quantityInput');
            var value = input.value;

            if (value < 1) {
                input.setCustomValidity('Giá trị phải lớn hơn 1');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>

    <script src="~/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/vendor/slick.min.js"></script>
    <script src="~/assets/js/vendor/js.cookie.js"></script>
    <!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="~/assets/js/vendor/jquery-ui.min.js"></script>
    <script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="~/assets/js/vendor/sal.js"></script>
    <script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/vendor/counterup.js"></script>
    <script src="~/assets/js/vendor/waypoints.min.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>
</html>