<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/manager/product.css" rel="stylesheet" />
    <link href="~/css/toastNotification.css" rel="stylesheet" />

</head>
<body>
    <h1 style="font-size: 40px; font-weight: bold; text-align:center">Chi Tiết Sản Phẩm Cho Thú Cưng</h1>
    <div class="container">
        <form method="post" asp-action="Update" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div class="row">
                <div class="col-25">
                    <label for="ProductName">Tên Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="ProductName" name="ProductName" value="@Model.ProductName" placeholder="Tên sản phẩm">
                    <div style="color:red" class="error-message" id="fname-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="image">Ảnh Sản Phẩm:</label>
                </div>

                <div class="col-75">
                    <input type="file" id="image" name="image" onchange="changeImageSource()" style="margin-top:20px" accept="image/*">
                    <img src="@Model?.Picture" style="float: left; height:100px; width:100px; margin-right: 10px;" id="imagePreview">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Price">Giá Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <div class="quantity-container">
                        <input type="number" class="quantity" id="Price" name="Price" placeholder="Số lượng" value="@Model?.Price" min="1" required>&ensp; đ
                    </div>
                    <div style="color:red" class="error-message" id="price-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Quantity">Số Lượng Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <div class="quantity-container">
                        <input type="number" class="quantity" id="Quantity" name="Quantity" placeholder="Số lượng" value="@Model?.Quantity" min="0" required>&ensp;
                    </div>
                    <div style="color:red" class="error-message" id="quantity-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Quantity">Số Lượng Sản Phẩm Đã Bán<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <div class="quantity-container">
                        <input type="number" class="quantity" id="Quantity" name="Quantity" placeholder="Số lượng" value="@Model?.QuantitySold" min="0" disabled>&ensp;
                    </div>
                    <div style="color:red" class="error-message" id="quantity-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="CreateDate">Ngày Tạo<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <div class="date-container">
                        <input type="date" name="CreateDate" style="height : 40px; width : 100%; padding : 12px;" value="@Model?.CreateDate?.ToString("yyyy-MM-dd")" disabled>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-25">
                    <label for="UpdateDate">Ngày Cập Nhật<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <div class="date-container">
                        <input type="date" name="UpdateDate" style="height : 40px; width : 100%; padding : 12px;" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="ProCategoriesId">Loại Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i></label>
                </div>
                <div class="col-75">
                    @if (ViewBag.ProCategories != null)
                    {
                        <select id="ProCategoriesId" name="ProCategoriesId" required>
                            <option value="@Model?.ProCategoriesId">@Model?.ProCategoriesName</option>
                            @foreach (var category in ViewBag.ProCategories)
                            {
                                <option value="@category.Value">@category.Text</option>
                            }
                        </select>
                    }
                    else
                    {
                        <span class="text-danger">Lỗi: Dữ liệu không khả dụng.</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Desciption">Mô Tả<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <textarea id="Desciption" name="Desciption" placeholder="Nội Dung" style="height:200px">@Model?.Desciption</textarea>
                    <div style="color:red" class="error-message" id="subject-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Status">Trạng Thái:</label>
                </div>
                <div class="col-75">
                    <div class="switch">
                        <input type="checkbox" name="Status" class="toggles" @(Model.Status ? "checked" : "") />
                        <label class="label @(Model.Status ? "active" : "inactive")"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                </div>
                <div class="col-75 btn-row">
                    <div class="btn-back">
                        <a type="submit" value="Cancel" href="/Manager/Product" class="cancel">Trở Lại</a>
                    </div>
                    <div class="btn-submit">
                        <input type="submit" value="Lưu Chỉnh Sửa">
                    </div>
                </div>
            </div>
        </form>

    </div>
    <script src="~/js/manager/product.js"></script>
    <style>
        .fa-asterisk {
            color: red;
            font-size:6px;
            padding-top:20px;
            margin-right:10px;
        }
    </style>
</body>
</html>


