<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* Thư viện chung // *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/icon/logo.png">

    <link href="~/css/toastNotification.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @*Toast notification design*@
    <div id="toast"></div>
    @*Start - Base TempData*@
    @if (!string.IsNullOrEmpty(TempData["SuccessToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(TempData["ErrorToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(TempData["WatingToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showWatingToast();
            });
        </script>
    }
    @*End - Base *@
    @*-------------------------------------------------------*@
    @*Start - Loading data TempData*@
    @if (!string.IsNullOrEmpty(TempData["SuccessLoadingDataToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessLoadingDataToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(TempData["ErrorLoadingDataToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorLoadingDataToast();
            });
        </script>
    }
    @*End - Loading data TempData*@
    @*-------------------------------------------------------*@
    @*Start - Login TempData*@
    @if (!string.IsNullOrEmpty(TempData["SuccessLoginToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessLoginToast();
            });
        </script>
    }
    @*End - Login TempData*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
    @if (!string.IsNullOrEmpty(ViewBag.SuccessToast))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessToastViewBag();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorToast))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorToastViewBag();
            });
        </script>
    }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
</body>

<script src="~/js/toastnotification.js"></script>
<script>
    @*Start - Base TempData*@
        function showSuccessToast() {
            toast({
                title: 'Thành công',
                message: '@TempData["SuccessToast"]',
                type: 'success',
                duration: 2000
            });
        }
    function showErrorToast() {
        toast({
            title: 'Thất bại',
            message: '@TempData["ErrorToast"]',
            type: 'error',
            duration: 2000
        });
    }
    function showWatingToast() {
        toast({
            title: 'Thất bại',
            message: '@TempData["WatingToast"]',
            type: 'wating',
            duration: 2000
        });
    }
    @*End - Base *@
    @*-------------------------------------------------------*@
    @*Start - LoadingData TempData*@
        function showSuccessLoadingDataToast() {
            toast({
                title: 'Thành công',
                message: '@TempData["SuccessLoadingDataToast"]',
                type: 'success',
                duration: 2000
            });
        }
    function showErrorLoadingDataToast() {
        toast({
            title: 'Thất bại',
            message: '@TempData["ErrorLoadingDataToast"]',
            type: 'error',
            duration: 2000
        });
    }
    @*End - LoadingData *@
    @*-------------------------------------------------------*@
    @*Start - Login TempData*@
        function showSuccessLoginToast() {
            toast({
                title: 'Thành công',
                message: '@TempData["SuccessLoginToast"]',
                type: 'success',
                duration: 2000
            });
        }
    @*End - Login TempData*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
        function showSuccessToastViewBag() {
            toast({
                title: 'Thành công',
                message: '@ViewBag.SuccessToast',
                type: 'success',
                duration: 2000
            });
        }

    function showErrorToastViewBag() {
        toast({
            title: 'Thất bại',
            message: '@ViewBag.ErrorToast',
            type: 'error',
            duration: 2000
        });
    }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
        function showErrorToastCheckInput() {
            toast({
                title: 'Thất bại',
                message: 'Vui lòng điền đầy đủ thông tin.',
                type: 'wating',
                duration: 2000
            });
        }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
        function showErrorToastInvalidTimeRoom() {
            toast({
                title: 'Thất bại',
                message: 'Đặt phòng thất bại, vui lòng kiểm tra lại ngày đặt phòng.',
                type: 'wating',
                duration: 2000
            });
        }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
        function showErrorToastInvalidTimeServiceRoom() {
            toast({
                title: 'Thất bại',
                message: 'Đặt phòng thất bại, Thời gian dịch vụ lớn hơn thời gian đặt phòng!.',
                type: 'wating',
                duration: 2000
            });
        }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
</script>
<!-- Main JS -->
@*<script src="~/assets/js/main.js"></script>*@@*
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMF53NXGYhHFNQQcT87lhe0ieM3AkUjYM"></script>*@
</html>
