@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@using FEPetServices.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PetService | @ViewBag.Title</title>
    @* Thư viện chung // *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/icon/logo.png">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="~/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/vendor/base.css">
    <link rel="stylesheet" href="~/assets/css/style.min.css">

    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <link href="~/css/cat.css" rel="stylesheet" />
</head>
<body class="sticky-header newsletter-popup-modal">
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
    <header class="header axil-header header-style-1">
        @{
            string? userimage = Context.Session.GetString("UserImage");
            if (userimage is null)
            {
                <div class="axil-header-top">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <div class="header-top-link">
                                    <ul class="quick-link">
                                        <li><a class="btn btn-outline-primary" href="~/Login">Đăng nhập</a></li>
                                        <li><a style="padding: 4.5px 9px;" class="btn axil-btn btn-bg-primary" href="~/Register/Index">Đăng ký</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (userimage is not null)
            {
                <div class="axil-header-top">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <div class="header-top-link">
                                    <ul class="quick-link">
                                        <li><a class="btn btn-outline-primary" href="~/Logout/Index">Đăng xuất</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <div id="axil-sticky-placeholder"></div>
        <div class="axil-mainmenu">
            <div class="container">
                <div class="header-navbar">
                    <div class="header-brand">
                        <a href="/Home" class="logo">
                            <img src="~/img/icon/logo-2.png">
                        </a>
                    </div>
                    <div class="header-main-nav">
                        <nav class="mainmenu-nav">
                            <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                            <div class="mobile-nav-brand">
                                <a href="/Home" class="logo">
                                    <img style="width: 100px;height: 100%;" src="~/img/icon/logo-2.png">
                                </a>
                            </div>
                            <ul class="mainmenu">
                                <li>
                                    <a href="~/Home">Trang Chủ</a>
                                </li>
                                <li>
                                    <a href="~/ProductList">Sản phẩm</a>
                                </li>
                                <li><a href="/Home/Service">Dịch Vụ</a></li>
                                <li><a href="/Home/Room">Phòng</a></li>
                                <li><a href="/Home/BlogList">Bài Viết</a></li>
                                <li><a href="/Home/Partner">Nhân Viên</a></li>
                                <li><a href="/Home/Introduce">Giới Thiệu</a></li>
                                @*<li><a href="contact.html">Liên hệ với chúng tôi</a></li>*@
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action">
                        <ul class="action-list">

                            <li class="shopping-cart">
                                <a href="#" class="cart-dropdown-btn">
                                    <span id="cart-count" class="cart-count">
                                        @{
                                            var session = HttpContextAccessor.HttpContext.Session;
                                            string jsoncart = session.GetString(FEPetServices.Controllers.ProductListController.CARTKEY);
                                            if (jsoncart != null)
                                            {
                                                var cartItems = JsonConvert.DeserializeObject<List<FEPetServices.Controllers.ProductListController.CartItem>>(jsoncart);
                                                @cartItems.Count
                                            }
                                        }
                                    </span>
                                    <i class="flaticon-shopping-cart"></i>
                                </a>
                            </li>
                            @{
                                string? userimageuser = Context.Session.GetString("UserImage");
                                if (userimageuser is not null)
                                {
                                    <li class="my-account">
                                        <a href="javascript:void(0)">
                                            <img class="navbar-profile-image" src="@userimage" alt="Image">
                                        </a>
                                        <div class="my-account-dropdown">
                                            <ul>
                                                <li>
                                                    <a href="~/Customer/MenuCustomer/Information">Thông tin cá nhân</a>
                                                </li>
                                                <li>
                                                    <a href="~/Customer/MenuCustomer/ChangePassword">Đổi mật khẩu</a>
                                                </li>
                                                <li>
                                                    <a href="~/Logout/Index" style="border-bottom : none!important">Đăng xuất  @RenderSection("Logout", required: false)</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                }
                                if (userimageuser is null)
                                {

                                }
                            }
                            <li class="axil-mobile-toggle">
                                <button class="menu-btn mobile-nav-toggler">
                                    <i class="flaticon-menu-2"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="axil-footer-area footer-style-2">
        <div class="footer-top separator-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Hỗ trợ</h5>
                            <div class="inner">
                                <p>
                                    19 ngõ 93, phố Vũ Hữu, <br>
                                    phường Thanh Xuân Bắc, <br>
                                    quận Thanh Xuân, Hà nội.
                                </p>
                                <ul class="support-list-item">
                                    <li><a href="mailto:psmsg65@gmail.com"><i class="fal fa-envelope-open"></i> psmsg65@gmail.com</a></li>
                                    <li><a href="tel:(+01)850-315-5862"><i class="fal fa-phone-alt"></i> 0969 886 688</a></li>
                                    <!-- <li><i class="fal fa-map-marker-alt"></i> 685 Market Street,  <br> Las Vegas, LA 95820, <br> United States.</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Dịch vụ</h5>
                            <div class="inner">
                                <ul>
                                    <li><a href="~/ProductList">Sản phẩm</a></li>
                                    <li><a href="~/Home/ServiceList">Dịch vụ</a></li>
                                    <li><a href="~/Home/Room">Phòng  </a></li>
                                    <li><a href="~/Home/BlogList">Bài viết</a></li>
                                    <li><a href="~/Home/Partner">Đối tác</a></li>
                                    <li><a href="~/Home/Introduce">Giới thiệu</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Quy định và Điều kiện </h5>
                            <div class="inner">
                                <ul>
                                    <li><a href="~/Home/Terms">Điều khoản sử dụng</a></li>
                                    <li><a href="~/Home/Privacy">Chính sách</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Địa điểm</h5>
                            <div class="inner map-petservices">
                                <div id="map" style="width: 100%; height: 180px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="copyright-area copyright-default separator-top">
        <div class="container">
        <div class="row align-items-center">
        <div class="col-xl-4">
        <div class="social-share">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-discord"></i></a>
        </div>
        </div>
        <div class="col-xl-4 col-lg-12">
        </div>
        <div class="col-xl-4 col-lg-12">
        <div class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
        <span class="card-text">Accept For</span>
        <ul class="payment-icons-bottom quick-link">
        <li><img src="~/assets/images/icons/cart/cart-1.png" alt="paypal cart"></li>
        <li><img src="~/assets/images/icons/cart/cart-2.png" alt="paypal cart"></li>
        <li><img src="~/assets/images/icons/cart/cart-5.png" alt="paypal cart"></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>*@
    </footer>

    <div class="cart-dropdown" id="cart-dropdown">
        <div class="cart-content-wrap">
            <div class="cart-header">
                <h2 class="header-title">Thông tin chi tiết giỏ hàng</h2>
                <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
            </div>
            <div class="cart-header">
                <button type="button" class="btn btn-outline-primary" onclick="reloadPage()">Cập nhật giỏ hàng</button>
            </div>
            <div class="cart-body">
                <ul class="cart-item-list">
                    @{
                        var sessions = HttpContextAccessor.HttpContext.Session;
                        string jsoncarts = sessions.GetString(FEPetServices.Controllers.ProductListController.CARTKEY);
                        if (jsoncarts != null)
                        {
                            var cartItems = JsonConvert.DeserializeObject<List<FEPetServices.Controllers.ProductListController.CartItem>>(jsoncarts);
                            if (cartItems != null)
                            {
                                foreach (var item in cartItems)
                                {
                                    <li class="cart-item">
                                        <div class="item-img">
                                            @if (item.product != null)
                                            {
                                                <a><img src="@item.product.Picture" alt="@item.product.ProductName"></a>
                                                <button class="close-btn removecart" data-productid="@item.product.ProductId"><i class="fas fa-times"></i></button>
                                            }
                                            @if (item.service != null)
                                            {
                                                <a><img src="@item.service.Picture" alt="@item.service.ServiceName"></a>
                                                <button class="close-btn removecart" data-serviceid="@item.service.ServiceId"><i class="fas fa-times"></i></button>
                                            }
                                        </div>
                                        <div class="item-content">
                                            @if (item.product != null)
                                            {
                                                <h3 class="item-title"><a>@item.product.ProductName</a></h3>
                                                <div class="item-price"><span class="currency-symbol"></span>@($"{item.product.Price:n0}".Replace(",", ".")) VNĐ</div>
                                                //@($"{(item.product.Price * item.quantityProduct):n0}".Replace(",", ".")) VNĐ
                                                <div class="pro-qty item-quantity">
                                                    <input type="number" class="quantity-input" value="@item.quantityProduct">
                                                </div>
                                            }
                                            @if (item.service != null)
                                            {
                                                <h3 class="item-title">@item.service.ServiceName</h3>
                                                <div class="item-price"><span class="currency-symbol"></span>@($"{item.PriceService:n0}".Replace(",", ".")) VNĐ</div>
                                            }
                                        </div>
                                    </li>
                                }
                            }
                            if (cartItems == null)
                            {
                                <li class="cart-item"> Giỏ hàng trống</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="cart-footer">
                <h3 class="cart-subtotal">
                    <span class="subtotal-title">Thống kê</span>
                </h3>
                <div class="group-btn">
                    <a href="~/Cart" class="axil-btn btn-bg-primary viewcart-btn">Xem chi tiết</a>
                    <a href="~/Checkout" class="axil-btn btn-bg-secondary checkout-btn">Thủ tục thanh toán</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Thêm vào giỏ hàng thành công!
                </div>
                <div class="modal-footer">
                    <button type="button" style="padding:5px;font-size:15px" class="btn btn-success" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    @*Toast notification design*@
    <div id="toast"></div>
    @*Start - Base TempData*@
    @if (!string.IsNullOrEmpty(TempData["SuccessToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(TempData["ErrorToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(TempData["WatingToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showWatingToast();
            });
        </script>
    }
    @*End - Base *@
    @*-------------------------------------------------------*@
    @*Start - Loading data TempData*@
    @if (!string.IsNullOrEmpty(TempData["SuccessLoadingDataToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessLoadingDataToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(TempData["ErrorLoadingDataToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorLoadingDataToast();
            });
        </script>
    }
    @*End - Loading data TempData*@
    @*-------------------------------------------------------*@
    @*Start - Login TempData*@
    @if (!string.IsNullOrEmpty(TempData["SuccessLoginToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessLoginToast();
            });
        </script>
    }
    @*End - Login TempData*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
    @if (!string.IsNullOrEmpty(ViewBag.SuccessToast))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessToastViewBag();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorToast))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorToastViewBag();
            });
        </script>
    }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
</body>

<script src="~/js/toastnotification.js"></script>
<script>
    @*Start - Base TempData*@
        function showSuccessToast() {
            toast({
                title: 'Thành công',
                message: '@TempData["SuccessToast"]',
                type: 'success',
                duration: 2000
            });
        }
    function showErrorToast() {
        toast({
            title: 'Thất bại',
            message: '@TempData["ErrorToast"]',
            type: 'error',
            duration: 2000
        });
    }
    function showWatingToast() {
        toast({
            title: 'Thất bại',
            message: '@TempData["WatingToast"]',
            type: 'wating',
            duration: 2000
        });
    }
    @*End - Base *@
    @*-------------------------------------------------------*@
    @*Start - LoadingData TempData*@
        function showSuccessLoadingDataToast() {
            toast({
                title: 'Thành công',
                message: '@TempData["SuccessLoadingDataToast"]',
                type: 'success',
                duration: 2000
            });
        }
    function showErrorLoadingDataToast() {
        toast({
            title: 'Thất bại',
            message: '@TempData["ErrorLoadingDataToast"]',
            type: 'error',
            duration: 2000
        });
    }
    @*End - LoadingData *@
    @*-------------------------------------------------------*@
    @*Start - Login TempData*@
        function showSuccessLoginToast() {
            toast({
                title: 'Thành công',
                message: '@TempData["SuccessLoginToast"]',
                type: 'success',
                duration: 2000
            });
        }
    @*End - Login TempData*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
        function showSuccessToastViewBag() {
            toast({
                title: 'Thành công',
                message: '@ViewBag.SuccessToast',
                type: 'success',
                duration: 2000
            });
        }

    function showErrorToastViewBag() {
        toast({
            title: 'Thất bại',
            message: '@ViewBag.ErrorToast',
            type: 'error',
            duration: 2000
        });
    }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
        function showErrorToastCheckInput() {
            toast({
                title: 'Thất bại',
                message: 'Vui lòng điền đầy đủ thông tin.',
                type: 'wating',
                duration: 2000
            });
        }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
        function showErrorToastInvalidTimeRoom() {
            toast({
                title: 'Thất bại',
                message: 'Đặt phòng thất bại, vui lòng kiểm tra lại ngày đặt phòng.',
                type: 'wating',
                duration: 2000
            });
        }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
        function showErrorToastInvalidTimeServiceRoom(message) {
            toast({
                title: 'Thất bại',
                message: 'Đặt phòng thất bại, Thời gian dịch vụ lớn hơn thời gian đặt phòng!. Bạn cần đặt tối thiểu ' + message + 'giờ !',
                type: 'wating',
                duration: 2000
            });
        }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@
</script>
<script>
    function updateCartCount(totalQuantity) {
        $('#cart-count').text(totalQuantity);
    }
</script>
<script>
    function reloadPage() {
        location.reload();
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMF53NXGYhHFNQQcT87lhe0ieM3AkUjYM"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".removecart").click(function (event) {
            event.preventDefault();
            var productid = $(this).attr("data-productid");
            var serviceid = $(this).attr("data-serviceid");

            $.ajax({
                type: "POST",
                url: "@Url.Action("RemoveCart", "Cart")",
                data: {
                    productid: productid,
                    serviceid: serviceid
                },
                success: function (result) {
                    window.location.href = "@Url.Action("Index", "Cart")";
                },
                error: function (error) {
                    console.error("Error removing item from cart:", error);
                }
            });
        });
    });
</script>
</html>
