@model IEnumerable<FEPetServices.Controllers.CartController.CartItem>

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body class="sticky-header">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="mb-4">GIỎ HÀNG</h2>
                @if (Model.Count() > 0)
                {
                    double allCartPrice = 0;
                    @if (Model.Any(c => c.product != null))
                    {
                        double total = 0;
                        <h3 class="mb-4">Sản phẩm</h3>
                        double productTotal = 0;
                        int productItemCount = 0;
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mặt hàng</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Thành tiền</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cartitem in Model.Where(c => c.product != null))
                                {
                                    var thanhtien = (double)cartitem.quantityProduct * (double)cartitem.product.Price;
                                    productTotal += thanhtien;
                                    productItemCount++;
                                    allCartPrice = allCartPrice + (double)cartitem.quantityProduct * (double)cartitem.product.Price;
                                    <tr>
                                        <td>@(productItemCount)</td>
                                        <td>@cartitem.product.ProductName</td>
                                        <td>@($"{cartitem.product.Price:#,##0} VNĐ".Replace(",", "."))</td>
                                        <td>
                                            <input style="height: 20px"
                                                   id="@($"quantity-{cartitem.product.ProductId}")"
                                                   class="form-control"
                                                   type="number"
                                                   value="@cartitem.quantityProduct"
                                                   min="1"
                                                   oninput="validity.valid||(value='1');" />
                                        </td>
                                        <td>@(thanhtien.ToString("n0").Replace(",", ".")) VNĐ</td>
                                        <td>
                                            <button class="btn btn-outline-success updatecartitem" data-productid="@cartitem.product.ProductId">
                                                Cập nhật
                                            </button>
                                            <button class="btn btn-outline-danger removecart" data-productid="@cartitem.product.ProductId">
                                                Xoá
                                            </button>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4" class="text-right">Tổng tiền</td>
                                    <td>@(productTotal.ToString("n0").Replace(",", ".")) VNĐ</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    }

                    @if (Model.Any(c => c.service != null))
                    {
                        <h3 class="mb-4">Dịch vụ</h3>
                        double serviceTotal = 0;
                        int serviceItemCount = 0;
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Dịch vụ</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Cân nặng thú cưng</th>
                                    <th scope="col">Thời gian</th>
                                    <th scope="col">Nhân viên được thuê</th>
                                    <th scope="col">Thành tiền</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cartitem in Model.Where(c => c.service != null))
                                {
                                    var thanhtien = (double)cartitem.PriceService;
                                    serviceTotal += thanhtien;
                                    allCartPrice = allCartPrice + thanhtien;
                                    serviceItemCount++;
                                    <tr>
                                        <td>@(serviceItemCount)</td>
                                        <td>@cartitem.service.ServiceName</td>
                                        <td>@($"{cartitem.service.Price:#,##0} VNĐ".Replace(",", "."))</td>
                                        <td>
                                            <div style="display:flex;justify-content:space-between">
                                                <p>@cartitem.Weight</p>
                                                <span>Kg</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    Thời gian bắt đầu :  @cartitem.StartTime
                                                </div>
                                                <div>
                                                    Thời gian kết thúc : @cartitem.EndTime
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @if (cartitem.PartnerInfo?.FirstName == null && cartitem.PartnerInfo?.LastName == null)
                                            {
                                               <div>
                                                    <p style="color:red">Không</p>
                                               </div>
                                            }
                                            @cartitem.PartnerInfo?.FirstName @cartitem.PartnerInfo?.LastName
                                        </td>
                                        <td>@(thanhtien.ToString("n0").Replace(",", ".")) VNĐ</td>
                                        <td>
                                            <button class="btn btn-outline-danger removecart" data-serviceid="@cartitem.service.ServiceId">
                                                Xoá
                                            </button>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="6" class="text-right">Tổng tiền</td>
                                    <td>@(serviceTotal.ToString("n0").Replace(",", ".")) VNĐ</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <div class="row" style="margin-bottom : 10px;">
                        <div class="col-xl-5 col-lg-7 offset-xl-7 offset-lg-5">
                            <div class="axil-order-summery mt--80">
                                <h5 class="title mb--20">Hoá đơn</h5>
                                <div class="summery-table-wrap">
                                    <table class="table summery-table mb--30">
                                        <tbody>
                                            <tr class="order-total">
                                                <td>Tổng tiền cần thanh toán</td>
                                                <td class="order-total-amount">@(allCartPrice.ToString("n0").Replace(",", ".")) VNĐ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="~/Checkout" class="axil-btn btn-bg-primary checkout-btn">Thủ tục thanh toán</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                <p class="alert alert-danger">Giỏ hàng trống</p>
                }
            </div>
        </div>
    </div>
    <div id="toast"></div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".updatecartitem").click(function (event) {
            event.preventDefault();
            var productid = $(this).attr("data-productid");
            var serviceid = $(this).attr("data-serviceid");
            var quantity = $("#quantity-" + (productid ?? serviceid)).val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateCart", "Cart")",
                data: {
                    productid: productid,
                    serviceid: serviceid,
                    quantity: quantity
                },
                success: function (result) {
                    window.location.href = "@Url.Action("Index", "Cart")";
                },
                error: function (xhr, status, error) {
                    showErrorToastQuantityCartProduct(xhr.responseText);
                    console.error("Error updating cart:", error);
                }
            });
        });

        function showErrorToastQuantityCartProduct(errorMessage) {
            console.error(errorMessage);
            toast({
                title: 'Thất bại',
                message: errorMessage,
                type: 'error',
                duration: 2000
            });
        }


        $(".removecart").click(function (event) {
            event.preventDefault();
            var productid = $(this).attr("data-productid");
            var serviceid = $(this).attr("data-serviceid");

            $.ajax({
                type: "POST",
                url: "@Url.Action("RemoveCart", "Cart")",
                data: {
                    productid: productid,
                    serviceid: serviceid
                },
                success: function (result) {
                    window.location.href = "@Url.Action("Index", "Cart")";
                },
                error: function (error) {
                    console.error("Error removing item from cart:", error);
                }
            });
        });
    });
</script>

<script src="~/assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="~/assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/vendor/popper.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<script src="~/assets/js/vendor/slick.min.js"></script>
<script src="~/assets/js/vendor/js.cookie.js"></script>
<!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
<script src="~/assets/js/vendor/jquery-ui.min.js"></script>
<script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
<script src="~/assets/js/vendor/sal.js"></script>
<script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="~/assets/js/vendor/counterup.js"></script>
<script src="~/assets/js/vendor/waypoints.min.js"></script>
<!-- Main JS -->
<script src="~/assets/js/main.js"></script>
</html>
