<!DOCTYPE html>
<html>
<head>
    <title>Order Detail</title>
    <link href="~/css/manager/print.css" rel="stylesheet" />
    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <link href="~/css/orders/stylesheet.css" rel="stylesheet" />
    <link href="~/css/manager/table.css" rel="stylesheet" />
</head>
<body>
    <div class="container print-container">
        <h2>Chi tiết đơn hàng</h2>
        @*Thông tin đơn hàng*@
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mã đơn hàng :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model.OrderId">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Ngày mua hàng :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model.OrderDate">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Trạng thái :</label>
            <div class="col-sm-9" style="padding-top:8px">
                @if (Model.OrderStatus.Trim() == "Confirmed")
                {
                    <span style="display:inline-block" class="badge badge-info">Đơn hàng đã được xác nhận và trong giai đoạn xử lý </span>
                }
                else if (Model.OrderStatus.Trim() == "Processing")
                {
                    <span style="display:inline-block" class="badge badge-info">Đơn hàng đang được thực hiện</span>
                }
                else if (Model.OrderStatus.Trim() == "Placed")
                {
                    <span style="display:inline-block" class="badge badge-info">Đơn hàng đang chờ xác nhận</span>
                }
                else if (Model.OrderStatus.Trim() == "Completed")
                {
                    <span style="display:inline-block" class="badge badge-info">Đơn hàng đã hoàn thành</span>
                }
                else if (Model.OrderStatus.Trim() == "Cancelled")
                {
                    <span style="display:inline-block" class="badge badge-info">Đơn hàng bị huỷ</span>
                }
            </div>
        </div>
        @*Thông tin khách hàng*@
        <h3>Thông tin khách hàng</h3>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tên Khách Hàng :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model.FullName">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Địa chỉ :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext"
                       value="@Model.Province , @Model.District , @Model.Commune">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Địa chỉ cụ thể :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Address">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Thông tin liên hệ :</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Phone">
            </div>
        </div>

        @if (Model.OrderProductDetails != null && Model.OrderProductDetails.Count > 0)
        {
            @*Thông tin sản phẩm*@
            <h4>Thông tin sản phẩm</h4>
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Giá từng sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Tổng giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.OrderProductDetails.Count; i++)
                        {
                            var productDetail = Model.OrderProductDetails[i];
                            <tr>
                                <td>@productDetail.Product.ProductName</td>
                                <td>@($"{productDetail.Price:n0}".Replace(",", ".")) VNĐ</td>
                                <td>@productDetail.Quantity</td>
                                <td>@($"{(productDetail.Quantity * productDetail.Price):n0}".Replace(",", ".")) VNĐ</td>
                            </tr>

                            @if (i == Model.OrderProductDetails.Count - 1)
                            {
                                <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <div class="status-content-detail">
                                            @if (productDetail?.StatusOrderProduct?.Trim() == "Placed")
                                            {
                                                <span class="badge badge-info">Sản phẩm đang chờ xác nhận</span>
                                            }
                                            else if (productDetail?.StatusOrderProduct?.Trim() == "Packaging")
                                            {
                                                <span class="badge badge-info">Đóng gói sản phẩm</span>
                                            } 
                                            else if (productDetail?.StatusOrderProduct?.Trim() == "Shipped")
                                            {
                                                <span class="badge badge-info">Đơn hàng đang được vận chuyển</span>
                                            }
                                            else if (productDetail?.StatusOrderProduct?.Trim() == "Delivered")
                                            {
                                                <span class="badge badge-info">Đơn hàng được giao đến khách hàng</span>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }

         @if (Model.BookingServicesDetails != null && Model.BookingServicesDetails.Count > 0)
        {
            <h4>Đơn hàng có dịch vụ</h4>
        }

        <div style="margin-bottom:0" class="form-group row">
            <p class="col-sm-6 col-form-label">Hoá đơn</p>
            <p class="col-sm-6 col-form-label" style="text-align:end">Thanh toán</p>
        </div>
        <div class="form-group row">
            <p class="col-sm-6 col-form-label"><strong>#</strong></td>
            <p class="col-sm-6 col-form-label" style="text-align:end"><strong>@($"{Model.TotalPrice:n0}".Replace(",", ".")) VNĐ</strong></p>
        </div>

        <div class="work-container-inner">
            @if (Model != null && Model.TypePay != null && Model.TypePay.Trim() == "cash")
            {
                <p>Thanh toán trực tiếp</p>
            }
            @if (Model != null && Model.TypePay != null && @Model.TypePay.Trim() == "vnpay")
            {
                <p>Thanh toán bằng hình thức chuyển khoản</p>
            }
            @if (!@Model.StatusPayment)
            {
                <span class="badge badge-info">Chưa thanh toán</span>
            }
            else
            {
                <span class="badge badge-info">Đã thanh toán</span>
            }
        </div>

        <form method="post" asp-controller="Shipped" asp-action="OrderShippedDetail">
            <input type="hidden" name="Id" value="@Model?.OrderId" />
            <input type="hidden" name="oldStatus" value="@Model?.OrderStatus.Trim()" />
            @for (int i = 0; i < Model.OrderProductDetails.Count; i++)
            {
                var productDetail = Model.OrderProductDetails[i];

                @if (i == Model.OrderProductDetails.Count - 1)
                {
                    if (productDetail?.StatusOrderProduct?.Trim() == "Packaging" || Model.OrderStatus.Trim() == "Confirmed")
                    {
                        <select style="margin-bottom:12px;" class="form-select select-status" name="newStatus">
                            <option value="Processing">Giao hàng</option>
                        </select>
                        <button class="btn btn-primary" type="submit">Xác nhận</button>
                    }
                }
            }
            @for (int i = 0; i < Model.OrderProductDetails.Count; i++)
            {
                var productDetail = Model.OrderProductDetails[i];
             
                @if (i == Model.OrderProductDetails.Count - 1)
                {
                    if (productDetail?.StatusOrderProduct?.Trim() == "Shipped")
                    {
                        <select style="margin-bottom:12px;" class="form-select select-status" name="newStatus">
                            <option value="Delivered">Đã giao</option>
                        </select>
                        <button class="btn btn-primary" type="submit">Xác nhận</button>
                    }
                }
            }
        </form>

        <button class="btn btn-primary" onclick="window.print()">In hoá đơn</button>
        <div class="btn-group">
            <a class="btn btn-primary" href="~/Manager/Shipped/Index">Trở lại</a>
        </div>
    </div>
</body>
</html>
