﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Room.css">
    <link href="~/css/toastNotification.css" rel="stylesheet" />
</head>
<body>
    <h1 style="font-size: 40px; font-weight: bold; text-align:center">Thêm phòng cho thú cưng</h1>
    <div class="container">
        <form asp-action="AddRoom" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div class="row">
                <div class="col-25">
                    <label for="RoomName">Tên Phòng<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="RoomName" name="RoomName" placeholder="Tên phòng..." required>
                    <div style="color:red" class="error-message" id="fname-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="image">Ảnh<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>

                <div class="col-75">
                    <input type="file" id="image" name="image" onchange="changeImageSource()" style="margin-top:20px" required accept="image/*">

                    <img src="~/img/icon/addicon.png" height="100px" width="100px" style="float: left; padding: 10px;" id="imagePreview" >

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Price">Giá<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <div class="quantity-container">
                        <input type="number" class="slot" id="Price" name="Price" placeholder="Giá tiền" min="0" required>&ensp; đ
                    </div>
                    <div style="color:red" class="error-message" id="price-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Slot">Các dịch vụ có sẵn:</label>
                </div>
                <div class="col-75">
                    <div class="service-container">
                        @if (ViewBag.services != null)
                        {
                            @foreach (var service in ViewBag.services)
                            {
                                <div>
                                    <input type="checkbox" id="@service.Value" name="SelectedServices" value="@service.Value">
                                    <label for="@service.Value"></label>
                                    <p>@service.Text</p>
                                </div>
                            }
                        }
                        else
                        {
                            <span class="text-danger">Lỗi: Dữ liệu không khả dụng.</span>
                        }
                    </div>
                    <div style="color:red" class="error-message" id="slot-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="SerCategoriesId">Loại Phòng<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i></label>
                </div>
                <div class="col-75">
                    @if (ViewBag.Categories != null)
                    {
                        <select id="RoomCategoriesId" name="RoomCategoriesId" required>
                            <option value="">Chọn loại phòng</option>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.Value">@category.Text</option>
                            }
                        </select>
                    }
                    else
                    {
                        <span class="text-danger">Lỗi: Dữ liệu không khả dụng.</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Desciptions">Mô Tả<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <textarea id="Desciptions" name="Desciptions" placeholder="Nội Dung .." style="height:200px" required></textarea>
                    <div style="color:red" class="error-message" id="subject-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                </div>
                <div class="col-75 btn-row">
                    <div class="btn-back">
                        <a type="submit" value="Cancal" href="/Manager/Room" class="cancel">Trở lại</a>
                    </div>
                    <div class="btn-submit">
                        <input type="submit" value="Thêm phòng">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <style>
        .fa-asterisk {
            color: red;
            font-size: 6px;
            padding-top: 20px;
            margin-right: 10px;
        }
    </style>
    <script src="~/js/Room.js"></script>
</body>
</html>

