<html class="no-js" lang="en">
<head>
    <link rel="stylesheet" href="~/css/Blog/BlogList.css">
</head>
<body class="sticky-header">

    <!-- End Header -->
    <main class="main-wrapper">
        <!-- Start Breadcrumb Area  -->
        <div class="axil-breadcrumb-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="inner">
                            <ul class="axil-breadcrumb">
                                <li class="axil-breadcrumb-item"><a href="/Home">Trang chủ</a></li>
                                <li class="separator"></li>
                                <li class="axil-breadcrumb-item active" aria-current="page">Bài viết</li>
                            </ul>
                            <h1 class="title">Danh sách bài viết</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="inner">
                            <div class="bradcrumb-thumb">
                                <img src="~/img/Blog/logo-blog.png" galt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area  -->
        
        <!-- Start Blog Area  -->
        <div class="axil-blog-area axil-section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                       
                        <div class="row g-5">
                              
                                 @foreach (var blog in Model.Blog)
                                {                                
                                    <div class="col-md-6">
                                        <div class="content-blog blog-grid">
                                            
                                            <div class="inner">
                                                <div class="thumbnail">
                                                    <a href="~/Home/BlogDetail?blogId=@blog.BlogId">
                                                        <img src="@blog.ImageUrl" style="width:100%;height:200px;" alt="Blog Images">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title"><a href="~/Home/BlogDetail?blogId=@blog.BlogId">@blog.PageTile</a></h5>

                                                    <div class="read-more-btn">
                                                        <a class="axil-btn right-icon" href="~/Home/BlogDetail?blogId=@blog.BlogId">Xem thêm <i class="fal fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div> 
                                }
                                
                        </div>
                        <div style="text-align:center;">
                            <div class="pagination">
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <a class="next page-numbers" href="@Url.Action("Bloglist", new { page = ViewBag.CurrentPage - 1, BlogName=ViewBag.BlogName, sortby=ViewBag.sortby, pagesize=@ViewBag.pagesize, viewstyle=@ViewBag.viewstyle })"><i class="fal fa-arrow-left"></i></a>
                                }
                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <a class="page-numbers" href="@Url.Action("Bloglist", new { page = i, sortby=ViewBag.sortby, BlogName=ViewBag.BlogName, pagesize=@ViewBag.pagesize, viewstyle=@ViewBag.viewstyle })">@i</a>
                                }
                                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                {
                                    <a class="next page-numbers" href="@Url.Action("servicelist", new { page = ViewBag.CurrentPage + 1, sortby=ViewBag.sortby, BlogName=ViewBag.BlogName, pagesize=@ViewBag.pagesize, viewstyle=@ViewBag.viewstyle })"><i class="fal fa-arrow-right"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        
                        <!-- bắt đầu Thanh tìm kiếm  -->
                            <div class="axil-single-widget mt--40 widget_search">
                                <h6 class="widget-title">Tìm kiếm</h6>
                                <form class="blog-search" method="get">
                                    <button class="search-button"><i class="fal fa-search"></i></button>
                                    <input type="text" name="BlogName" value="@ViewBag.BlogName" placeholder="Tìm kiếm">
                                </form>
                            </div>
                         <!-- Kết thúc Thanh tìm kiếm -->
                          <div class="axil-single-widget mt--40 widget_tag_cloud">
                                <h6 class="widget-title">Tags</h6>
                                @{
                                    var url ="/Home/BlogList";
                                
                                                <div class="@(string.IsNullOrEmpty(ViewBag.roomcategory) ? "tagcloud" : " ")">
                                                    <a href="@url">Tất cả</a>
                                                      @foreach (var category in ViewBag.Categories)
                                            {
                                                if(category.Status==true){

                                                            <a href="@(url + (url.Contains("?") ? "&" : "?") + "tag=" + category.TagId)">@category.TagName</a>
                                            }
                                            else
                                            {
                                                
                                            }

                                            }
                                                </div>
                                }
                            </div>
                            <!-- Start Sidebar Area  -->
                        <aside class="axil-sidebar-area">

                            <!-- Start Single Widget  -->
                            <div class="axil-single-widget mt--40">
                                <span class="title-highlighter highlighter-primary mb--10"> <i class="fal fa-bell"></i>Hot News</span>
                                <h6 class="widget-title">Bài viết mới</h6>

                                <!-- Start Single Post List  -->
                                @foreach (var blog in Model.ListBlogTop3)
                                    {
                                <div class="content-blog post-list-view mb--20">
                                    <div class="thumbnail">
                                        <a href="~/Home/BlogDetail?blogId=@blog.BlogId">
                                            <img style="object-fit:cover;" src="@blog.ImageUrl"  alt="Blog Images">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="~/Home/BlogDetail?blogId=@blog.BlogId">@blog.PageTile</a></h6>
                                        <div class="axil-post-meta">
                                            <div class="post-meta-content">
                                                <ul class="post-meta-list">
                                                    <li>@blog.PublisheDate?.ToString("dd/MM/yyyy")</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                                <!-- End Single Post List  -->

                            </div>
                            <!-- End Single Widget  -->
                            <!-- Start Single Widget  -->
                            <div class="axil-single-widget mt--40">
                                <span class="title-highlighter highlighter-primary mb--10"> <i class="fal fa-bell"></i>Sản Phẩm Hot</span>
                                <h6 class="widget-title">Sản phẩm bán chạy nhất</h6>
                                <ul class="product_list_widget recent-viewed-product">
                                    <!-- Start Single product_list  -->
                                    @foreach (var product in Model.ListProductTop3)
                                    { <li>
                                        <div class="thumbnail">
                                            <a href="/ProductList/Detail?proId=@product.ProductId">
                                                <img src="@product.Picture" style="object-fit:cover;" alt="Blog Images">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h6 class="title"><a href="/ProductList/Detail?proId=@product.ProductId">@product.ProductName</a></h6>
                                            <div class="product-meta-content">
                                                <span class="woocommerce-Price-amount amount">@($"{product.Price:n0}".Replace(",", ".")) VNĐ</span>
                                                <p class="price sold">Đã bán: @product.QuantitySold</p>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                    <!-- End Single product_list  -->                                    
                                </ul>

                            </div>
                            <!-- End Single Widget  -->
                            <!-- Start Single Widget  -->
                            <!-- End Single Widget  -->

                        </aside>
                        <!-- End Sidebar Area -->
                    </div>
                </div>
                <!-- End post-pagination -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End Blog Area  -->
    </main>
</body>
<script src="~/assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="~/assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/vendor/popper.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<script src="~/assets/js/vendor/slick.min.js"></script>
<script src="~/assets/js/vendor/js.cookie.js"></script>
<!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
<script src="~/assets/js/vendor/jquery-ui.min.js"></script>
<script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
<script src="~/assets/js/vendor/sal.js"></script>
<script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="~/assets/js/vendor/counterup.js"></script>
<script src="~/assets/js/vendor/waypoints.min.js"></script>

<!-- Main JS -->
<script src="~/assets/js/main.js"></script>
</html>