<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from new.axilthemes.com/demo/template/etrade/blog-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Aug 2023 07:18:56 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eTrade || Blog Grid</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/vendor/base.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="~/css/Blog/BlogList.css">

</head>


<body class="sticky-header">
    <!-- End Header -->
    <main class="main-wrapper">
        <!-- Start Breadcrumb Area  -->
        <div class="axil-breadcrumb-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="inner">
                            <ul class="axil-breadcrumb">
                                <li class="axil-breadcrumb-item"><a href="/Home">Trang chủ</a></li>
                                <li class="separator"></li>
                                <li class="axil-breadcrumb-item active" aria-current="page">Nhân Viên</li>
                            </ul>
                            <h1 class="title">Danh Sách Nhân Viên</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="inner">
                            <div class="bradcrumb-thumb">
                                <img src="/img/partner/anh.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area  -->
        <!-- Start Blog Area  -->
        <div class="axil-blog-area axil-section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row g-5">
                            @foreach (var partner in Model.partner)
                            {
                                <div class="col-md-6">
                                    <div class="content-blog blog-grid">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="~/Home/PartnerDetail?partnerID=@partner.PartnerInfoId" style="text-align:center;">
                                                    <img src="@partner?.ImagePartner" style="border-radius:50%; width:300px;height:300px;object-fit:cover;">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title" style="text-align:center;"><a style="font-size:15px;" href="~/Home/PartnerDetail?partnerID=@partner.PartnerInfoId">@partner.FirstName @partner.LastName - Mã nhân viên: @partner.PartnerInfoId </a></h5>

                                                <div class="read-more-btn">
                                                    <a class="axil-btn right-icon" href="~/Home/PartnerDetail?partnerID=@partner.PartnerInfoId">Tìm hiểu thêm <i class="fal fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div style="text-align:center;">
                            <div class="pagination">
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <a class="next page-numbers" href="@Url.Action("Partner", new { page = ViewBag.CurrentPage - 1, PartName=ViewBag.PartName })"><i class="fal fa-arrow-left"></i></a>
                                }
                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <a class="page-numbers" href="@Url.Action("Partner", new { page = i, PartName=ViewBag.PartName, pagesize=@ViewBag.pagesize })">@i</a>
                                }
                                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                {
                                    <a class="next page-numbers" href="@Url.Action("Partner", new { page = ViewBag.CurrentPage + 1, PartName=ViewBag.PartName, pagesize=@ViewBag.pagesize})"><i class="fal fa-arrow-right"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- Start Single Widget  -->
                        <div class="axil-single-widget mt--40 widget_search">
                            <h6 class="widget-title">Search</h6>
                            <form class="blog-search" method="get">
                                <button class="search-button"><i class="fal fa-search"></i></button>
                                <input type="text" name="PartName" value="@ViewBag.PartName" placeholder="Tìm kiếm">
                            </form>
                        </div>
                        <!-- End Single Widget  -->
                        <!-- Start Sidebar Area  -->
                        <aside class="axil-sidebar-area">

                            <!-- Start Single Widget  -->
                            <div class="axil-single-widget mt--40">
                                <h6 class="widget-title">Dịch vụ bạn có thể tham khảo</h6>

                                <!-- Start Single Post List  -->
                                @foreach (var service in Model.CaServices)
                                {
                                    <div class="content-blog post-list-view mb--20">
                                        <div class="thumbnail">
                                            <a href="~/Home/Service?sevicecategory=@service.SerCategoriesId">
                                                <img src="@service.Picture" alt="Blog Images">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h6 class="title"><a href="~/Home/Service?sevicecategory=@service.SerCategoriesId">@service.SerCategoriesName</a></h6>
                                        </div>
                                    </div>
                                }

                            </div>
                            <!-- End Single Widget  -->
                            <!-- Start Single Widget  -->
                            <div class="axil-single-widget mt--40">
                                <h6 class="widget-title">Top các sản phẩm bán chạy nhất</h6>
                                <ul class="product_list_widget recent-viewed-product">
                                    <!-- Start Single product_list  -->
                                    @foreach (var product in Model.ListProductTop3)
                                    {
                                        <li>
                                            <div class="thumbnail">
                                                <a href="/ProductList/Detail?proId=@product.ProductId">
                                                    <img src="@product.Picture" alt="Blog Images">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="title"><a href="/ProductList/Detail?proId=@product.ProductId">@product.ProductName</a></h6>
                                                <div class="product-meta-content">
                                                    <span class="woocommerce-Price-amount amount">@product.Price VNĐ</span>
                                                    <p class="price sold">Đã bán: @product.QuantitySold</p>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    <!-- End Single product_list  -->
                                </ul>

                            </div>
                            <!-- End Single Widget  -->
                        </aside>
                        <!-- End Sidebar Area -->
                    </div>
                </div>
                <!-- End post-pagination -->
            </div>
            <!-- End .container -->
        </div>
    </main>

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/js.cookie.js"></script>
    <!-- <script src="assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="/assets/js/vendor/jquery-ui.min.js"></script>
    <script src="/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="/assets/js/vendor/sal.js"></script>
    <script src="/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="/assets/js/vendor/counterup.js"></script>
    <script src="/assets/js/vendor/waypoints.min.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
</body>


<!-- Mirrored from new.axilthemes.com/demo/template/etrade/blog-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Aug 2023 07:18:56 GMT -->

</html>