﻿
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/flatpickr.css">
    <link rel="stylesheet" href="~/css/RoomCustomer.css">

</head>

<body class="sticky-header">
    <main class="main-wrapper">
        <div class="axil-breadcrumb-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="inner">
                            <ul class="axil-breadcrumb">
                                <li class="axil-breadcrumb-item"><a href="/Home">Trang chủ</a></li>
                                <li class="separator"></li>
                                <li class="axil-breadcrumb-item active" aria-current="page">Phòng</li>
                            </ul>
                            <h1 class="title">Dịch vụ đặt phòng cho thú cưng</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="inner">
                            <div class="bradcrumb-thumb">
                                <img src="~/img/Room/imgroom.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="axil-shop-area axil-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="axil-shop-sidebar">
                            <div class="d-lg-none">
                                <button class="sidebar-close filter-close-btn"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="toggle-list product-categories active">
                                <h6 class="title">Loại phòng</h6>
                                <div class="shop-submenu">
                                    <ul>
                                        @{
                                            var url = "/Home/Room";
                                            if (!string.IsNullOrEmpty(ViewBag.sortby))
                                            {
                                                url += "?sortby=" + ViewBag.sortby;
                                            }
                                            if (!string.IsNullOrEmpty(ViewBag.roomname))
                                            {
                                                url += (url.Contains("?") ? "&" : "?") + "roomname=" + ViewBag.roomname;
                                            }
                                            if (!string.IsNullOrEmpty(ViewBag.priceto))
                                            {
                                                url += (url.Contains("?") ? "&" : "?") + "priceto=" + ViewBag.priceto;
                                            }
                                            if (!string.IsNullOrEmpty(ViewBag.pricefrom))
                                            {
                                                url += (url.Contains("?") ? "&" : "?") + "pricefrom=" + ViewBag.pricefrom;
                                            }
                                            if (!string.IsNullOrEmpty(ViewBag.startdate))
                                            {
                                                url += (url.Contains("?") ? "&" : "?") + "startdate=" + ViewBag.startdate;
                                            }
                                            if (!string.IsNullOrEmpty(ViewBag.enddate))
                                            {
                                                url += (url.Contains("?") ? "&" : "?") + "enddate=" + ViewBag.enddate;
                                            }
                                            <li class="@(string.IsNullOrEmpty(ViewBag.roomcategory) ? "current-cat" : "")"><a href="@url">Tất cả</a></li>
                                            @foreach (var category in ViewBag.Categories)
                                            {
                                                <li class="@(ViewBag.roomcategory == category.Value ? "current-cat" : "")">
                                                    <a href="@(url + (url.Contains("?") ? "&" : "?") + "roomcategory=" + category.Value)">@category.Text</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="toggle-list product-price-range active">
                                <h6 class="title">Giá phòng</h6>
                                <div class="shop-submenu">
                                    <form id="search-price" action="#" class="mt--25">
                                        <div id="slider-range"></div>
                                        <div class="flex-center mt--20">
                                            <span class="input-range"></span>
                                            <input type="text" id="amount" class="amount-range" readonly>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="toggle-list product-price-range active">
                                <h6 class="title">Thời gian thuê</h6>
                                <div class="shop-submenu">
                                    <form id="form-date" method="get">
                                        @{
                                            if (!string.IsNullOrEmpty(ViewBag.sortby))
                                            {
                                                <input type="hidden" name="sortby" value="@ViewBag.sortby">
                                            }
                                            if (!string.IsNullOrEmpty(ViewBag.roomcategory))
                                            {
                                                <input type="hidden" name="roomcategory" value="@ViewBag.roomcategory">
                                            }
                                            if (!string.IsNullOrEmpty(ViewBag.priceto))
                                            {
                                                <input type="hidden" name="priceto" value="@ViewBag.priceto">
                                            }
                                            if (!string.IsNullOrEmpty(ViewBag.pricefrom))
                                            {
                                                <input type="hidden" name="pricefrom" value="@ViewBag.pricefrom">
                                            }
                                            <div class="part3-content-child col-lg-12">
                                                <div class="form-group">
                                                    <label for='start-datetime'>Bắt đầu</label>
                                                    <div class='input-group date'>
                                                        <input value="@(ViewBag.startdate)" name="startdate" type='text' id='start-datetime' class="form-control" style="z-index: auto;" required />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for='end-datetime'>Kết thúc</label>
                                                    <div class='input-group date'>
                                                        <input value="@(ViewBag.enddate)" name="enddate" type='text' id='end-datetime' class="form-control" style="z-index: auto;" required />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <button type="submit" class="axil-btn btn-bg-primary checkout-btn">Tìm kiếm</button>
                                            </div>
                                        }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="axil-shop-top mb--40">
                                    <div class="category-select align-items-center justify-content-lg-end justify-content-between">
                                        <span class="filter-results">
                                            <form method="get">
                                                @{
                                                    if (!string.IsNullOrEmpty(ViewBag.sortby))
                                                    {
                                                        <input type="hidden" name="sortby" value="@ViewBag.sortby">
                                                    }
                                                    if (!string.IsNullOrEmpty(ViewBag.roomcategory))
                                                    {
                                                        <input type="hidden" name="roomcategory" value="@ViewBag.roomcategory">
                                                    }
                                                    if (!string.IsNullOrEmpty(ViewBag.priceto))
                                                    {
                                                        <input type="hidden" name="priceto" value="@ViewBag.priceto">
                                                    }
                                                    if (!string.IsNullOrEmpty(ViewBag.pricefrom))
                                                    {
                                                        <input type="hidden" name="pricefrom" value="@ViewBag.pricefrom">
                                                    }
                                                    if (!string.IsNullOrEmpty(ViewBag.startdate))
                                                    {
                                                        <input type="hidden" name="startdate" value="@ViewBag.startdate">
                                                    }
                                                    if (!string.IsNullOrEmpty(ViewBag.enddate))
                                                    {
                                                        <input type="hidden" name="enddate" value="@ViewBag.enddate">
                                                    }
                                                    <div class="relative">
                                                        <input class="input-cal input-base" value="@(ViewBag.roomname)" name="roomname" id="input" placeholder="" type="text">
                                                        <label id="label-input">Name</label>
                                                    </div>
                                                }
                                            </form>
                                        </span>
                                        <form method="get">
                                            @{
                                                if (!string.IsNullOrEmpty(ViewBag.roomname))
                                                {
                                                    <input type="hidden" name="roomname" value="@ViewBag.roomname">
                                                }
                                                if (!string.IsNullOrEmpty(ViewBag.roomcategory))
                                                {
                                                    <input type="hidden" name="roomcategory" value="@ViewBag.roomcategory">
                                                }
                                                if (!string.IsNullOrEmpty(ViewBag.priceto))
                                                {
                                                    <input type="hidden" name="priceto" value="@ViewBag.priceto">
                                                }
                                                if (!string.IsNullOrEmpty(ViewBag.pricefrom))
                                                {
                                                    <input type="hidden" name="pricefrom" value="@ViewBag.pricefrom">
                                                }
                                                if (!string.IsNullOrEmpty(ViewBag.startdate))
                                                {
                                                    <input type="hidden" name="startdate" value="@ViewBag.startdate">
                                                }
                                                if (!string.IsNullOrEmpty(ViewBag.enddate))
                                                {
                                                    <input type="hidden" name="enddate" value="@ViewBag.enddate">
                                                }
                                                <select id="sortby" name="sortby" class="single-select" onchange="this.form.submit();">
                                                    <!option value="name_asc" @(ViewBag.sortby == "name_asc" ? "selected" : "")>Tên từ A-Z</!option>
                                                    <!option value="name_desc" @(ViewBag.sortby == "name_desc" ? "selected" : "")>Tên từ Z-A</!option>
                                                    <!option value="price" @(ViewBag.sortby == "price" ? "selected" : "")>Giá từ thấp đến cao</!option>
                                                    <!option value="price_desc" @(ViewBag.sortby == "price_desc" ? "selected" : "")>Giá từ cao đến thấp</!option>
                                                </select>
                                            }
                                        </form>
                                    </div>
                                    <div class="d-lg-none">
                                        <button class="product-filter-mobile filter-toggle"><i class="fas fa-filter"></i> Bộ lọc</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row--15">
                            @foreach (var room in Model)
                            {
                                <div class="col-xl-4 col-sm-6">
                                    <div class="axil-product product-style-one mb--30">
                                        <div class="thumbnail">
                                            <a href="/Home/RoomDetail?roomId=@room.RoomId" style="height:200px;">
                                                <img src="@room.Picture" alt="Product Images">
                                            </a>
                                        </div>
                                        <div class="product-content" data-room-category="@room.RoomCategoriesId">
                                            <div class="inner">
                                                <h5 class="title" style="height:20px"><a href="/Home/RoomDetail?roomId=@room.RoomId">@room.RoomName</a></h5>
                                                <div class="product-price-variant" style="height:20px">
                                                    <span class="price current-price">@room.Price VNĐ/h</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        var roomcategory = "@(ViewBag.roomcategory)";
        var sortby = "@(ViewBag.sortby)";
        var roomname = "@(ViewBag.roomname)";
        var pricefrom = "@(ViewBag.pricefrom)";
        var priceto = "@(ViewBag.priceto)";
        var startdate = "@(ViewBag.startdate)";
        var enddate = "@(ViewBag.enddate)";

        document.addEventListener("DOMContentLoaded", function () {
            var priceElements = document.querySelectorAll('.current-price');
            priceElements.forEach(function (priceElement) {
                var priceText = priceElement.textContent.trim();
                var price = parseFloat(priceText.replace(/\s/g, '').replace('VNĐ/h', ''));
                var formattedPrice = price.toLocaleString('vi-VN');
                priceElement.textContent = formattedPrice + ' VNĐ/giờ';

            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var submitButton = document.querySelector('.checkout-btn');

            submitButton.addEventListener('click', function (event) {
                var startDateValue = document.getElementById('start-datetime').value;

                if (!startDateValue) {
                    event.preventDefault();

                    alert('Vui lòng chọn ngày bắt đầu trước khi tìm kiếm!');
                }
            });
        });
    </script>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="~/assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="~/assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/vendor/popper.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<script src="~/assets/js/vendor/slick.min.js"></script>
<script src="~/assets/js/vendor/js.cookie.js"></script>
<!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
<script src="~/assets/js/vendor/jquery-ui.min.js"></script>
<script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
<script src="~/assets/js/vendor/sal.js"></script>
<script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="~/assets/js/vendor/counterup.js"></script>
<script src="~/assets/js/vendor/waypoints.min.js"></script>
<!-- Main JS -->

<script src="~/js/RoomCustomer.js"></script>
<script src="~/js/flatpickr.js"></script>

<script>
    window.onload = function () {
        let startDateTime = document.getElementById("start-datetime");
        let endDateTime = document.getElementById("end-datetime");
        let status = document.querySelector(".status");

        let startPicker = flatpickr(startDateTime, {
            minDate: "today",
            enableTime: true,
            time_24hr: true,
            minTime: new Date().getHours() + 1 + ":00", // Giờ hiện tại + 1 giờ
            maxTime: "17:00",
            dateFormat: "m-d-Y H:i",
            onChange: function (selectedDates, dateStr, instance) {
                let currentDate = new Date();
                let tomorrow = new Date(currentDate);

                tomorrow.setDate(currentDate.getDate() + 1);
                tomorrow.setHours(8, 0, 0, 0);

                if (currentDate.getHours() >= 16) {
                    startPicker.set("minDate", tomorrow);
                }

                if (selectedDates[0] > currentDate) {
                    startPicker.set("minTime", "08:00");
                } else {
                    startPicker.set("minTime", currentDate.getHours() + 1 + ":00");
                }

                endPicker.set("minDate", selectedDates[0]);
            },
        });

        let endPicker = flatpickr(endDateTime, {
            minDate: startPicker.selectedDates[0] || "today",
            enableTime: true,
            time_24hr: true,
            minTime: new Date().getHours() + 1 + ":00", // Giờ hiện tại + 1 giờ
            maxTime: "17:00",
            dateFormat: "m-d-Y H:i",
            onChange: function (selectedDates, dateStr, instance) {
                let startDate = startPicker.selectedDates[0];

                if (startDate && selectedDates[0].getDate() === startDate.getDate()
                    && selectedDates[0].getMonth() === startDate.getMonth()
                    && selectedDates[0].getFullYear() === startDate.getFullYear()) {
                    if (startDate.getHours() >= 16) {
                        startPicker.set("minDate", tomorrow);
                    }
                    endPicker.set("minTime", startDate.getHours() + 1 + ":00");
                } else {
                    endPicker.set("minTime", "8:00");
                }
            },
        });

        initMap();
    }
</script>
</html>