<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/flatpickr.css">
    <link rel="stylesheet" href="~/css/RoomDetailCustomer.css">

</head>

<body class="sticky-header">
    <main class="main-wrapper">
        <div class="axil-breadcrumb-area" style="margin-top: -30px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="inner">
                            <ul class="axil-breadcrumb">
                                <li class="axil-breadcrumb-item"><a href="/Home">Trang chủ</a></li>
                                <li class="separator"></li>
                                <li class="axil-breadcrumb-item"><a href="/Home/Room">Phòng</a></li>
                                <li class="separator"></li>
                                <li class="axil-breadcrumb-item active" aria-current="page">@Model.Room.RoomName</li>
                            </ul>
                            <h1 class="title">Dịch vụ đặt phòng cho thú cưng</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="inner">
                            <div class="bradcrumb-thumb">
                                <img src="~/img/Room/imgroom.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="axil-single-product-area bg-color-white">
            <div class="single-product-thumb axil-section-gap pb--30 pb_sm--20">
                <div class="container">
                    <div class="row row--50">
                        <div class="col-lg-6 mb--40">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-large-thumbnail-2 single-product-thumbnail axil-product slick-layout-wrapper--15 axil-slick-arrow arrow-both-side-3">
                                        <div class="thumbnail">
                                            <img src="@Model.Room.Picture" alt="Product Images">
                                            <input hidden id="roomid" value="@Model.Room.RoomId"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <h2 class="product-title">@Model.Room.RoomName</h2>
                                    <div class="price-amount price-offer-amount">
                                        <span class="price current-price">@Model.Room.Price vnđ/h</span>
                                    </div>
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= (ViewBag.RoomStar ?? 5))
                                                {
                                                    <i class="fas fa-star"></i>
                                                }
                                                else if (i - ViewBag.RoomStar < 1)
                                                {
                                                    <i class="fas fa-star-half-alt"></i>
                                                }
                                                else
                                                {
                                                    <i class="far fa-star"></i>
                                                }
                                            }
                                            <span style="color: #7e7e7e; font-size: 17px;">@ViewBag.RoomStar</span>
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(<span>@ViewBag.FeedbackCount</span> đánh giá của khách hàng)</a>
                                        </div>
                                    </div>
                                    <ul class="product-meta">
                                        <h5 class="title">Dịch vụ có sẵn</h5>
                                        <div style="display:flex;flex-wrap: wrap;">
                                        @if (ViewBag.ServiceAvailable != null)
                                        {
                                            
                                            foreach (var service in ViewBag.ServiceAvailable)
                                            {
                                                <li class="col-6" style="color: limegreen"><i class="fa fa-check-circle" style="color: limegreen"></i>@service.Text</li>
                                            }
                                        }</div>
                                    </ul>
                                    <div class="product-desc-wrapper pt_sm--60">
                                        <div class="single-desc mb--30">
                                            <h5 class="title">Mô tả</h5>
                                            <p>@Model.Room.Desciptions</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .single-product-thumb -->
            <form method="post" action="@Url.Action("Index", "CheckoutRoom")" onsubmit="return kiemTra()">
                <div class="woocommerce-tabs wc-tabs-wrapper bg-vista-white">
                    <div class="container">
                        <h5 class="title">Dịch vụ bạn muốn đặt thêm</h5>
                        <div class="product-desc-wrapper mb--30 mb_sm--10">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">

                                        @if (ViewBag.ServiceUnavailable != null)
                                        {
                                            @foreach (var service in ViewBag.ServiceUnavailable)
                                            {
                                                <div class="col">
                                                    <div class="service-box service-style-2">
                                                        <div class="checkbox-wrapper">
                                                            <input type="checkbox" name="selectedServices" value="@service.ServiceId" class="service-checkbox">
                                                            <svg viewBox="0 0 35.6 35.6">
                                                                <circle class="background" cx="12" cy="12" r="12"></circle>
                                                                <circle class="stroke" cx="12" cy="12" r="10"></circle>
                                                                <polyline class="check" points="8 12 10.5 15 17 8.7"></polyline>
                                                            </svg>
                                                        </div>
                                                        <div class="icon">
                                                            <img src="@service.Picture" style="width: 45px; height: 45px;">
                                                        </div>
                                                        <div class="content">
                                                            <h6 class="title">@service.ServiceName</h6>
                                                            <p>@service.Price vnđ</p>
                                                            <input type="hidden" value="" name="ServiceId" class="hidden-service-id">
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part3">
                            <h5>Thời gian thuê phòng</h5>
                            <div class="part3-content">
                                <div class="part3-content-fa col-lg-12">
                                    <div class="part3-content-child col-lg-7">
                                        <div class="form-group col-lg-5 datetime-fixsize">
                                            <label for='start-datetime'>Ngày và giờ bắt đầu</label>
                                            <div class='input-group date'>
                                                <input type='text' id='start-datetime' name="StartTime" class="form-control" style="z-index: auto;" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-5 datetime-fixsize">
                                            <label for='end-datetime'>Ngày và giờ kết thúc</label>
                                            <div class='input-group date'>
                                                <input type='text' id='end-datetime' name="EndTime" class="form-control" style="z-index: auto;" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rating col-lg-5 check-valid">
                                        <form class="rating-form">
                                            <label>Trạng thái phòng: &emsp;&emsp; <q class="status"></q></label>
                                            <div id="status-icon">
                                                <label for="super-happy" class="lb" style="display: none;">
                                                    <input type="radio" style="width: auto;" name="rating" class="super-happy" id="super-happy" value="super-happy" checked disabled>
                                                    <svg class="svg" viewBox="0 0 24 24"><path d="M12,17.5C14.33,17.5 16.3,16.04 17.11,14H6.89C7.69,16.04 9.67,17.5 12,17.5M8.5,11A1.5,1.5 0 0,0 10,9.5A1.5,1.5 0 0,0 8.5,8A1.5,1.5 0 0,0 7,9.5A1.5,1.5 0 0,0 8.5,11M15.5,11A1.5,1.5 0 0,0 17,9.5A1.5,1.5 0 0,0 15.5,8A1.5,1.5 0 0,0 14,9.5A1.5,1.5 0 0,0 15.5,11M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>
                                                </label>
                                                <label for="super-sad" class="lb" style="display: none;">
                                                    <input type="radio" name="rating" class="super-sad" id="super-sad" value="super-sad" checked>
                                                    <svg class="svg" viewBox="0 0 24 24"><path d="M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M16.18,7.76L15.12,8.82L14.06,7.76L13,8.82L14.06,9.88L13,10.94L14.06,12L15.12,10.94L16.18,12L17.24,10.94L16.18,9.88L17.24,8.82L16.18,7.76M7.82,12L8.88,10.94L9.94,12L11,10.94L9.94,9.88L11,8.82L9.94,7.76L8.88,8.82L7.82,7.76L6.76,8.82L7.82,9.88L6.76,10.94L7.82,12M12,14C9.67,14 7.69,15.46 6.89,17.5H17.11C16.31,15.46 14.33,14 12,14Z"></path></svg>
                                                </label>
                                            </div>
                                            <p class="suggest" style="display: none"></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h5 style="margin-bottom: -10px;">Chi tiết giá</h5>
                            <div class="axil-order-summery order-checkout-summery">
                                <div class="summery-table-wrap">
                                    <table class="table summery-table">
                                        <thead>
                                            <tr>
                                                <th>Tên dịch vụ</th>
                                                <th>Giá</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="order-shipping">
                                                <td colspan="2">
                                                    <div class="shipping-amount">
                                                        <span class="title">Các dịch vụ đặt thêm</span>
                                                    </div>
                                                    <div class="input-group" style="justify-content: space-between;">
                                                        <label class="name-service"></label>
                                                        <span class="amount price-service"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="order-shipping">
                                                <td colspan="2">
                                                    <div class="shipping-amount">
                                                        <span class="title">Thời gian thuê phòng</span>
                                                    </div>
                                                    <div class="input-group" style="justify-content: space-between;">
                                                        <label class="time-booking"></label>
                                                        <span class="amount price-time-booking"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <input name="totalPrice" id="totalPrice" value="" type="hidden" />
                                                <td>Tổng</td>
                                                <td class="order-total-amount"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12" style="display: flex;">
                                    <div class="col-lg-8 booking-room-terms">
                                        <p>Nhấn "Đặt phòng" đồng nghĩa với việc bạn công nhận mình đã đọc và đồng ý với các <a href="/Home/Terms">Điều khoản sử dụng</a> và <a href="/Home/Privacy">Chính sách quyền riêng tư</a> của chúng tôi.</p>
                                    </div>
                                    <div class="col-lg-4 booking-room">
                                        <input type="hidden" name="roomid" value="@Model.Room.RoomId" />
                                        <button type="submit" class="axil-btn btn-bg-primary checkout-btn">Đặt phòng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="axil-product-area bg-color-white axil-section-gap pb--50 pb_sm--30">
                <div class="container">
                    <div class="reviews-wrapper">
                        <h4 class="mb--60">Đánh giá</h4>
                        <div class="row">
                            <div class="col-lg-12 mb--40">
                                <div class="axil-comment-area pro-desc-commnet-area">
                                    @if (Model.Feedback != null && Model.Feedback.Count > 0)
                                    {
                                        <div class="feedback-title-sort">
                                            <h5 class="title">Có @ViewBag.FeedbacksCount đánh giá</h5>
                                            <form method="get">
                                                <input type="hidden" name="roomId" value="@Model.Room.RoomId">
                                                <select name="sortby" onchange="this.form.submit();">
                                                    <!option style="color: black" value="" @(ViewBag.sortby == null ? "selected" : "")>Tất cả</!option>
                                                    <!option class="option" style="color: gold" value="5star" @(ViewBag.sortby == "5star" ? "selected" : "") @(Model.VoteNumberas.number5s == 0 ? "disabled" : "")>&#9733;&#9733;&#9733;&#9733;&#9733;&ensp; @Model.VoteNumberas.number5s</!option>
                                                    <!option class="option" style="color: gold" value="4star" @(ViewBag.sortby == "4star" ? "selected" : "") @(Model.VoteNumberas.number4s == 0 ? "disabled" : "")>&#9733;&#9733;&#9733;&#9733;&#9734;&ensp; @Model.VoteNumberas.number4s</!option>
                                                    <!option class="option" style="color: gold" value="3star" @(ViewBag.sortby == "3star" ? "selected" : "") @(Model.VoteNumberas.number3s == 0 ? "disabled" : "")>&#9733;&#9733;&#9733;&#9734;&#9734;&ensp; @Model.VoteNumberas.number3s</!option>
                                                    <!option class="option" style="color: gold" value="2star" @(ViewBag.sortby == "2star" ? "selected" : "") @(Model.VoteNumberas.number2s == 0 ? "disabled" : "")>&#9733;&#9733;&#9734;&#9734;&#9734;&ensp; @Model.VoteNumberas.number2s</!option>
                                                    <!option class="option" style="color: gold" value="1star" @(ViewBag.sortby == "1star" ? "selected" : "") @(Model.VoteNumberas.number1s == 0 ? "disabled" : "")>&#9733;&#9734;&#9734;&#9734;&#9734;&ensp; @Model.VoteNumberas.number1s</!option>
                                                </select>
                                            </form>
                                        </div>
                                        <ul class="comment-list">
                                            @foreach (var feedback in Model.Feedback)
                                            {
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="single-comment">
                                                            <div class="comment-img">
                                                                <img src="@feedback.UserImage" alt="Author Images" style="height: 60px; width: 60px;">
                                                            </div>
                                                            <div class="comment-inner" style="width: 100%">
                                                                <h6 class="commenter">
                                                                    <a class="hover-flip-item-wrapper" href="#">
                                                                        <span class="hover-flip-item">
                                                                            <span data-text="Cameron Williamson">@feedback.UserName</span>
                                                                        </span>
                                                                    </a>
                                                                    <span class="commenter-rating ratiing-four-star">
                                                                        @for (int i = 1; i <= 5; i++)
                                                                        {
                                                                            if (i <= @feedback.NumberStart)
                                                                            {
                                                                                <a><i class="fas fa-star"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a><i class="fas fa-star empty-rating"></i></a>
                                                                            }
                                                                        }
                                                                    </span>
                                                                </h6>
                                                                <div class="comment-text">
                                                                    <p>@feedback.Content</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                        <div style="text-align: center">
                                            <div class="pagination">
                                                @{
                                                    int pagenumber = ((@ViewBag.FeedbacksCount - 1) / 5) + 1;
                                                            @if (ViewBag.CurrentPage > 1)
                                                    {
                                                                <a href="@Url.Action("RoomDetail", new { roomId = Model.Room.RoomId, sortby = ViewBag.sortby, page = ViewBag.CurrentPage - 1 })">&laquo;</a>
                                                    }
                                                            @for (int i = 1; i <= pagenumber; i++)
                                                    {
                                                                <a class="active @(i == ViewBag.CurrentPage ? "active1" : "")" href="@Url.Action("RoomDetail", new { roomId = Model.Room.RoomId, sortby = ViewBag.sortby, page = i })">@i</a>
                                                    }
                                                            @if (ViewBag.CurrentPage < pagenumber)
                                                    {
                                                                <a href="@Url.Action("RoomDetail", new { roomId = Model.Room.RoomId, sortby = ViewBag.sortby, page = ViewBag.CurrentPage + 1 })">&raquo;</a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <h5 class="title">Hiện chưa có đánh giá cho căn phòng này.</h5>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    
    <script>
        var roomcategory = "@(ViewBag.roomcategory)";
        var sortby = "@(ViewBag.sortby)";
        var roomname = "@(ViewBag.roomname)";
        var pricefrom = "@(ViewBag.pricefrom)";
        var priceto = "@(ViewBag.priceto)";
        var startdate = "@(ViewBag.startdate)";
        var enddate = "@(ViewBag.enddate)";
    </script>

   

</body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="~/assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="~/assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/vendor/popper.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<script src="~/assets/js/vendor/slick.min.js"></script>
<script src="~/assets/js/vendor/js.cookie.js"></script>
<!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
<script src="~/assets/js/vendor/jquery-ui.min.js"></script>
<script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
<script src="~/assets/js/vendor/sal.js"></script>
<script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="~/assets/js/vendor/counterup.js"></script>
<script src="~/assets/js/vendor/waypoints.min.js"></script>
<!-- Main JS -->

<script src="~/js/RoomCustomer.js"></script>
<script src="~/js/flatpickr.js"></script>

    @*check nhập thông tin ngày bookk phòng ms dược submit *@
    <script>
        function kiemTra() {
            var datetimeStart = document.getElementById('start-datetime').value;
            var datetimeEnd = document.getElementById('end-datetime').value;
            var roomId = document.getElementById('roomid').value;

        let apiURLCheckService = `https://pet-service-api.azurewebsites.net/api/Room/CheckService?roomId=${roomId}`;

        fetch(apiURLCheckService)
            .then(response => response.json())
            .then(data => {
                let numericData = parseFloat(data);
                let duration = calculateDurationDatetime(datetimeStart, datetimeEnd);

                if (numericData > parseFloat(duration)) {
                    showErrorToastInvalidTimeServiceRoom(data);
                    return false;
                }

            })
            .catch(error => {
                console.log('Fetch error:', error);
            });

            console.log(datetimeStart);

            if (datetimeStart === '' || datetimeEnd === '') {
                showErrorToastCheckInput();
                return false;
            }
            if (document.querySelector(".status").textContent == "Không còn phòng") {
                showErrorToastInvalidTimeRoom();
                return false;
            }

            console.log("4");
            
            return true;
        }

        function calculateDurationDatetime(startDate, endDate) {
            const startDateObj = new Date(startDate);
            const endDateObj = new Date(endDate);

            const oneHourInMillis = 60 * 60 * 1000;
            const millisecondsDiff = endDateObj - startDateObj;
            const totalHours = millisecondsDiff / oneHourInMillis;

            return totalHours;
        }
    </script>
    <script>
        window.onload = function () {
            let startDateTime = document.getElementById("start-datetime");
            let endDateTime = document.getElementById("end-datetime");
            let status = document.querySelector(".status");
            let suggest = document.querySelector(".suggest");

            var priceElements = document.querySelectorAll('.current-price');
            priceElements.forEach(function (priceElement) {
                var priceText = priceElement.textContent.trim();
                var price = parseFloat(priceText.replace(/\s/g, '').replace('vnđ/h', ''));
                var formattedPrice = price.toLocaleString('vi-VN');
                priceElement.textContent = formattedPrice + ' vnđ/giờ';

            });

            var priceElements = document.querySelectorAll('.content p');
            priceElements.forEach(function (priceElement) {
                var priceText = priceElement.textContent.trim();
                var price = parseFloat(priceText.replace(/\s/g, '').replace('vnđ', ''));
                var formattedPrice = price.toLocaleString('vi-VN');
                priceElement.textContent = formattedPrice + ' vnđ';

            });

            let startPicker = flatpickr(startDateTime, {
                minDate: "today",
                enableTime: true,
                time_24hr: true,
                minTime: new Date().getHours() + 1 + ":00", // Giờ hiện tại + 1 giờ
                maxTime: "17:00",
                dateFormat: "m-d-Y H:i",
                onChange: function (selectedDates, dateStr, instance) {
                    let currentDate = new Date();
                    let tomorrow = new Date(currentDate);

                    tomorrow.setDate(currentDate.getDate() + 1);
                    tomorrow.setHours(8, 0, 0, 0);

                    if (currentDate.getHours() >= 16) {
                        startPicker.set("minDate", tomorrow);
                    }

                    if (selectedDates[0] > currentDate) {
                        startPicker.set("minTime", "08:00");
                    } else {
                        startPicker.set("minTime", currentDate.getHours() + 1 + ":00");
                    }

                    endPicker.set("minDate", selectedDates[0]);
                    updateStatus();
                },
            });

            let endPicker = flatpickr(endDateTime, {
                minDate: startPicker.selectedDates[0] || "today",
                enableTime: true,
                time_24hr: true,
                minTime: new Date().getHours() + 1 + ":00", // Giờ hiện tại + 1 giờ
                maxTime: "17:00",
                dateFormat: "m-d-Y H:i",
                onChange: function (selectedDates, dateStr, instance) {
                    let startDate = startPicker.selectedDates[0];

                    if (startDate && selectedDates[0].getDate() === startDate.getDate()
                        && selectedDates[0].getMonth() === startDate.getMonth()
                        && selectedDates[0].getFullYear() === startDate.getFullYear()) {
                        if (startDate.getHours() >= 16) {
                            startPicker.set("minDate", tomorrow);
                        }
                        endPicker.set("minTime", startDate.getHours() + 1 + ":00");
                    } else {
                        endPicker.set("minTime", "8:00");
                    }

                    updateStatus();
                },
            });

            $(document).ready(function () {
                $('input[type="checkbox"]').change(function () {
                    updateServices();
                    updateTotal();
                });

                function updateServices() {
                    $('.name-service').text('');
                    $('.price-service').text('');

                    $('input[type="checkbox"]').each(function () {
                        if ($(this).is(':checked')) {
                            var serviceName = $(this).closest('.service-box').find('.title').text();
                            var price = $(this).closest('.service-box').find('p').text();

                            $('.name-service').append(serviceName + '<br>');

                            var formattedPriceservice = parseFloat(price.replace(' vnđ', '').replace('.', '')).toLocaleString('vi-VN') + ' vnđ';
                            $('.price-service').append(formattedPriceservice + '<br>');
                        }
                    });
                }
            });

            function updateStatus() {
                let startValue = startPicker.input.value;
                let endValue = endPicker.input.value;



                if (startValue && endValue) {
                    let startDate = startPicker.parseDate(startValue);
                    let endDate = endPicker.parseDate(endValue);
                    let roomId = @Model.Room.RoomId;

                    let apiURL = `https://pet-service-api.azurewebsites.net/api/Room/CheckSlotInRoom?RoomId=${roomId}&startDate=${startValue}&endDate=${endValue}`;
                    fetch(apiURL)
                        .then(response => {
                            if (response.status === 200) {
                                status.textContent = "Còn phòng";
                                status.style.color = "#00cc4f";
                                document.getElementById("super-happy").checked = true;
                                document.querySelector('label[for="super-happy"]').style.display = 'block';

                                let duration = calculateDuration(startDate, endDate);
                                let totalPrice = duration * @Model.Room.Price;
                                let timeduration = parseInt(duration / 24) + " ngày " + duration % 24 + " giờ";
                                let timeBookingLabel = `${startDate.toLocaleString()} - ${endDate.toLocaleString()} (${timeduration})`;
                                let priceTimeBooking = totalPrice.toLocaleString('vi-VN') + ' vnđ';

                                $('.time-booking').text(timeBookingLabel);
                                $('.price-time-booking').text(priceTimeBooking);
                                document.querySelector('label[for="super-sad"]').style.display = 'none';
                                updateTotal();
                            } else {
                                status.textContent = "Không còn phòng";
                                status.style.color = "#e76555";
                                document.getElementById("super-sad").checked = true;
                                document.querySelector('label[for="super-sad"]').style.display = 'block';
                                document.querySelector('label[for="super-happy"]').style.display = 'none';

                                if ((response.status === 400)) {
                                    response.text().then(errorMessage => {
                                        suggest.textContent = errorMessage;
                                        suggest.style.display = 'block';
                                        document.querySelector('label[for="super-happy"]').style.display = 'none';
                                    });
                                }
                            }
                        })
                        .catch(error => {
                            console.error("Error fetching API:", error);
                            status.textContent = "Lỗi kết nối API";
                            hideLabels();
                        });
                } else {
                    status.textContent = "";
                }
            }

            function updateTotal() {
                let total = 0;

                $('input[type="checkbox"]').each(function () {
                    if ($(this).is(':checked')) {
                        var priceText = $(this).closest('.service-box').find('p').text();

                        var price = priceText ? parseInt(priceText.replace(/,/g, '').replace(/\D/g, '')) : 0;
                        total += price;
                    }
                });

                var timeBookingText = $('.price-time-booking').text();
                var timeBookingPrice = timeBookingText ? parseInt(timeBookingText.replace(/,/g, '').replace(/\D/g, '')) : 0;
                total += timeBookingPrice;

                $('.order-total-amount').text(total.toLocaleString('vi-VN') + ' vnđ');
                var totalPrice = document.getElementById("totalPrice");
                totalPrice.value = total;

            }

            function calculateDuration(startDate, endDate) {
                const oneDayInMillis = 24 * 60 * 60 * 1000;
                const millisecondsDiff = endDate - startDate;
                const days = Math.floor(millisecondsDiff / oneDayInMillis);
                const hours = Math.floor((millisecondsDiff % oneDayInMillis) / (60 * 60 * 1000));
                const totalhours = days * 24 + hours;
                return totalhours;
            }

            function hideLabels() {
                document.querySelector('label[for="super-happy"]').style.display = 'none';
                document.querySelector('label[for="super-sad"]').style.display = 'none';
            }
            initMap();
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.service-checkbox').change(function () {
                var checkbox = $(this);
                var hiddenInput = checkbox.closest('.service-box').find('.hidden-service-id');

                if (checkbox.prop('checked')) {
                    hiddenInput.val(checkbox.val());
                } else {
                    hiddenInput.val('');
                }
            });
        });
    </script>

</html>