@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@using FEPetServices.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PetService | @ViewBag.Title</title>
    @* Thư viện chung // *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*// Thư viện chung*@

    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="~/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/vendor/base.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="~/img/icon/logo.png">

    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <link href="~/css/menuCustomer.css" rel="stylesheet" />
</head>
<body>
    <div class="container light-style flex-grow-1 container-p-y">
        @*<a style="margin:2% 0;" href="~/Home">Trở về trang chủ</a>*@
        <div class="header">
            <a href="~/Home">
                <ion-icon name="home-outline"></ion-icon>
            </a>
            <h2 >
                Cài đặt tài khoản
            </h2>
        </div>
        
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0" style="margin: 20px 0px;">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item" href="~/Customer/MenuCustomer/Information">Thông tin cá nhân</a>
                        <a class="list-group-item" href="~/Customer/MenuCustomer/ChangePassword">Đổi mật khẩu</a>
                        <a class="list-group-item" href="~/Customer/Pet/PetInfo">Thông tin thú cưng</a>
                        <a class="list-group-item" href="~/Customer/MyOrders/AllOrders?orderStatus=All&page=1&pageSize=5">Đơn đặt hàng</a>
                        <a class="list-group-item" href="~/Customer/MyOrdersRoom/Index?orderStatus=All&page=1&pageSize=5">Phòng đã đặt</a>
                    </div>
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @*Toast notification design*@
    <div id="toast"></div>
    @*Start - Base TempData*@
    @if (!string.IsNullOrEmpty(TempData["SuccessToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(TempData["ErrorToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(TempData["WatingToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showWatingToast();
            });
        </script>
    }
    @*End - Base *@
    @*-------------------------------------------------------*@
    @*Start - Loading data TempData*@
    @if (!string.IsNullOrEmpty(TempData["SuccessLoadingDataToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessLoadingDataToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(TempData["ErrorLoadingDataToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorLoadingDataToast();
            });
        </script>
    }
    @*End - Loading data TempData*@
    @*-------------------------------------------------------*@
    @*Start - Login TempData*@
    @if (!string.IsNullOrEmpty(TempData["SuccessLoginToast"] as string))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessLoginToast();
            });
        </script>
    }
    @*End - Login TempData*@
    @*-------------------------------------------------------*@
    @*Start - Base ViewBag*@
    @if (!string.IsNullOrEmpty(ViewBag.SuccessToast))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessToastViewBag();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorToast))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorToastViewBag();
            });
        </script>
    }
    @*End - Base ViewBag*@
    @*-------------------------------------------------------*@


    <script>
        @*Start - Base TempData*@
            function showSuccessToast() {
                toast({
                    title: 'Thành công',
                    message: '@TempData["SuccessToast"]',
                    type: 'success',
                    duration: 2000
                });
            }
        function showErrorToast() {
            toast({
                title: 'Thất bại',
                message: '@TempData["ErrorToast"]',
                type: 'error',
                duration: 2000
            });
        }
        function showWatingToast() {
            toast({
                title: 'Thất bại',
                message: '@TempData["WatingToast"]',
                type: 'wating',
                duration: 2000
            });
        }
        @*End - Base *@
        @*-------------------------------------------------------*@
        @*Start - LoadingData TempData*@
            function showSuccessLoadingDataToast() {
                toast({
                    title: 'Thành công',
                    message: '@TempData["SuccessLoadingDataToast"]',
                    type: 'success',
                    duration: 2000
                });
            }
        function showErrorLoadingDataToast() {
            toast({
                title: 'Thất bại',
                message: '@TempData["ErrorLoadingDataToast"]',
                type: 'error',
                duration: 2000
            });
        }
        @*End - LoadingData *@
        @*-------------------------------------------------------*@
        @*Start - Login TempData*@
            function showSuccessLoginToast() {
                toast({
                    title: 'Thành công',
                    message: '@TempData["SuccessLoginToast"]',
                    type: 'success',
                    duration: 2000
                });
            }
        @*End - Login TempData*@
        @*-------------------------------------------------------*@
        @*Start - Base ViewBag*@
            function showSuccessToastViewBag() {
                toast({
                    title: 'Thành công',
                    message: '@ViewBag.SuccessToast',
                    type: 'success',
                    duration: 2000
                });
            }

        function showErrorToastViewBag() {
            toast({
                title: 'Thất bại',
                message: '@ViewBag.ErrorToast',
                type: 'error',
                duration: 2000
            });
        }
        @*End - Base ViewBag*@
        @*-------------------------------------------------------*@
        @*Start - Base ViewBag*@
            function showErrorToastCheckInput() {
                toast({
                    title: 'Thất bại',
                    message: 'Vui lòng điền đầy đủ thông tin.',
                    type: 'wating',
                    duration: 2000
                });
            }
        @*End - Base ViewBag*@
        @*-------------------------------------------------------*@
        @*Start - Feedback ViewBag*@
            function showSuccessFeedbackViewBag() {
                toast({
                    title: 'Thành công',
                    message: 'Thêm đánh giá thành công!',
                    type: 'success',
                    duration: 2000
                });
            }

        function showErrorToastFeedbackViewBag() {
            toast({
                title: 'Thất bại',
                message: 'Bạn cần nhập trên 20 kí tự!',
                type: 'wating',
                duration: 3000
            });
        }

        function showErrorToastFeedback2ViewBag() {
            toast({
                title: 'Thất bại',
                message: 'Bạn hãy nhập nội dung đánh giá để tiếp tục!',
                type: 'error',
                duration: 2000
            });
        }
        @*End - Base ViewBag*@
        @*-------------------------------------------------------*@
    </script>

    <style>
        .header {
            display: flex;
            align-items: center;
            margin-bottom:10px;
            width: 100%;
        }

            .header a {
                text-decoration: none;
                display: flex; 
                align-items: center; 
            }

            .header h2 {
                font-size: 24px;
                margin: 0;
                line-height: 1; 
            }

            .header ion-icon {
                font-size: 24px;
                color: black;
                vertical-align: middle;
                padding-right: 10px;
            }

    </style>
    <script src="~/js/toastnotification.js"></script>
</body>
</html>
