﻿@using FEPetServices.Form.OrdersForm;
@model List<OrderForm>

<link href="~/css/orders/stylesheet.css" rel="stylesheet" />
@foreach (var order in Model)
{
    RenderOrder(order);
}

@functions {
    void RenderOrder(OrderForm order)
    {
        double totalPrice = 0;
        <div class="work-container">
            <div class="work-container-inner">
                @if ((order.OrderProductDetails.Count() > 0
                || order.BookingServicesDetails.Count() > 0)
                && order.BookingRoomDetails.Count() == 0)
                {
                    <h5>Mã đơn hàng : @order.OrderId
                        <a style="font-size:18px; text-decoration:none; font-weight:600" class="detail-button" href="OrderDetail?id=@order.OrderId"> Xem thêm</a>
                    </h5>
                    @if (order.OrderStatus.Trim() == "Confirmed")
                    {
                        <span style="display:inline-block" class="badge badge-info">Đơn hàng đã được xác nhận và trong giai đoạn xử lý </span>
                    }
                    else if (order.OrderStatus.Trim() == "Processing")
                    {
                        <span style="display:inline-block" class="badge badge-info">Đơn hàng đang được thực hiện</span>
                    }
                    else if (order.OrderStatus.Trim() == "Placed")
                    {
                        <span style="display:inline-block" class="badge badge-info">Đơn hàng đang chờ xác nhận</span>
                    }
                    else if (order.OrderStatus.Trim() == "Completed")
                    {
                        <span style="display:inline-block" class="badge badge-info">Đơn hàng đã hoàn thành</span>
                    }
                    else if (order.OrderStatus.Trim() == "Cancelled")
                    {
                        <span style="display:inline-block" class="badge badge-info">Đơn hàng bị huỷ</span>
                    }

                }
                @if ((order.OrderProductDetails.Count() == 0
                || order.BookingServicesDetails.Count() == 0)
                && order.BookingRoomDetails.Count() > 0)
                {
                    <h5>Mã đơn hàng : @order.OrderId
                        <a style="font-size:18px; text-decoration:none; font-weight:600" class="detail-button" href="OrderRoomDetail?id=@order.OrderId"> Xem thêm</a>
                    </h5>
                    @if (order?.OrderStatus.Trim() == "Confirmed")
                    {
                        <span style="display:inline-block" class="badge badge-info">Đã trả phòng</span>
                    }
                    else if (order?.OrderStatus.Trim() == "Refund")
                    {
                        <span style="display:inline-block" class="badge badge-info">Hoàn tiên</span>
                    }
                    else if (order?.OrderStatus.Trim() == "Placed")
                    {
                        <span style="display:inline-block" class="badge badge-info">Chờ nhận phòng</span>
                    }
                    else if (order?.OrderStatus.Trim() == "Cancelled")
                    {
                        <span style="display:inline-block" class="badge badge-info">Phòng bị huỷ </span>
                    }
                    else if (order?.OrderStatus.Trim() == "Processing")
                    {
                        <span style="display:inline-block" class="badge badge-info">Đã nhận phòng</span>
                    }
                }
            </div>
            <p><i class="far fa-calendar-alt"></i> @order.OrderDate</p>

            @*Start - Product Detail*@
            @if (order.OrderProductDetails != null && order.OrderProductDetails.Count > 0)
            {
                var productDetailsList = order.OrderProductDetails.ToList();
                <div class="content-details">
                    <p class="bold-text">Thông tin sản phẩm đã được đặt hàng</p>
                    @for (int i = 0; i < productDetailsList.Count; i++)
                    {
                        var productDetail = productDetailsList[i];
                        totalPrice = totalPrice + (double)(productDetail.Quantity * productDetail.Price);
                        <div class="content-detail">
                            <div class="product-info">
                                <img src="@productDetail.Product.Picture" width="50" height="50" alt="Product Image">
                                <div class="product-info-detail">
                                    <p style="max-width:450px">@productDetail.Product.ProductName</p>
                                    <p style="font-size:.8rem;"><span>x</span>@productDetail.Quantity</p>
                                </div>
                            </div>
                            <p>@($"{(productDetail.Quantity * productDetail.Price):n0}".Replace(",", ".")) VNĐ</p>
                        </div>
                        @if ((productDetail.FeedbackStatus == null || productDetail.FeedbackStatus == false) && productDetail?.StatusOrderProduct?.Trim() == "Delivered")
                        {
                            <div class="btn-content-detail">
                                <button class="btn btn-outline-primary" onclick="openPopupProduct('@productDetail.Product.Picture', '@productDetail.Product.ProductName', '@productDetail.Quantity', '@productDetail.ProductId', '@order.UserInfoId', '@order.OrderId', '@productDetail.FeedbackStatus')">Đánh giá</button>
                            </div>
                        }
                        @if (i == order.OrderProductDetails.Count - 1)
                        {
                            <div class=" status-content-detail">
                                @if (productDetail?.StatusOrderProduct?.Trim() == "Placed")
                                {
                                    <span class="badge badge-info">Sản phẩm đang chờ xác nhận</span>
                                }
                                else if (productDetail?.StatusOrderProduct?.Trim() == "Packaging")
                                {
                                    <span class="badge badge-info">Đóng gói sản phẩm</span>
                                }
                                else if (productDetail?.StatusOrderProduct?.Trim() == "Shipped")
                                {
                                    <span class="badge badge-info">Đơn hàng đang được vận chuyển</span>
                                }
                                else if (productDetail?.StatusOrderProduct?.Trim() == "Delivered")
                                {
                                    <span class="badge badge-info">Đơn hàng được giao đến khách hàng</span>
                                }
                            </div>
                        }
                    }
                </div>
            }
            @*End - Product Detail*@

            @*Start - Service Detail*@
            @if (order.BookingServicesDetails != null && order.BookingServicesDetails.Count > 0)
            {
                <div class="content-details">
                    <p class="bold-text">Thông tin dịch vụ đã được đặt hàng</p>
                    @foreach (var serviceDetail in order.BookingServicesDetails)
                    {
                        totalPrice = totalPrice + (double)serviceDetail.PriceService;
                        <div class="content-detail">
                            <div class="service-info">
                                <img src="@serviceDetail.Service.Picture" width="50" height="50" alt="Service Image">
                                <div class="service-info-detail">
                                    <p style="max-width:450px">@serviceDetail.Service.ServiceName</p>
                                    <p style="font-size:.8rem;"><span>Cân nặng thú cưng: </span>@serviceDetail.Weight Kg</p>

                                    @*<button type="button" class="map-button"
                    data-lat="@serviceDetail?.PartnerInfo?.Lat"
                    data-lng="@serviceDetail?.PartnerInfo?.Lng">
                    Đối tác : @serviceDetail?.PartnerInfo?.FirstName @serviceDetail?.PartnerInfo?.LastName - @serviceDetail.PartnerInfoId
                    </button>*@

                                    <div style="display: flex ; justify-content:space-between">
                                        <p style="font-size:.8rem;">
                                            Đối tác : @serviceDetail?.PartnerInfo?.FirstName @serviceDetail?.PartnerInfo?.LastName - @serviceDetail?.PartnerInfoId
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="content-detail-time-service">
                                <p style="font-size:.8rem;">Thời gian bắt đầu: @serviceDetail?.StartTime</p>
                                <p style="font-size:.8rem;">Thời gian kêt thúc: @serviceDetail?.EndTime</p>
                            </div>
                            <p>@($"{(serviceDetail.PriceService):n0}".Replace(",", ".")) VNĐ</p>
                        </div>
                        <div class="status-content-detail">
                            @if (@serviceDetail?.StatusOrderService.Trim() == "Placed")
                            {
                                <span class="badge badge-info">Dịch vụ đang chờ xác nhận</span>
                            }
                            else if (@serviceDetail?.StatusOrderService?.Trim() == "Waiting")
                            {
                                <span class="badge badge-info">Dịch vụ đang chờ xử lý </span>
                            }
                            else if (@serviceDetail?.StatusOrderService?.Trim() == "Received")
                            {
                                <span class="badge badge-info">Dịch vụ được nhận bởi nhân viên</span>
                            }
                            else if (@serviceDetail?.StatusOrderService?.Trim() == "Processing")
                            {
                                <span class="badge badge-info">Đang trong quá trình thực hiện</span>
                            }
                            else if (@serviceDetail?.StatusOrderService?.Trim() == "Rejected")
                            {
                                <span class="badge badge-info">Bị huỷ bởi nhân viên bạn chọn</span>
                            }
                            else if (@serviceDetail?.StatusOrderService?.Trim() == "ReceivedDifficult")
                            {
                                <span class="badge badge-info">Dịch vụ được nhận bởi nhân viên khác</span>
                            }
                            else if (@serviceDetail?.StatusOrderService?.Trim() == "Completed")
                            {
                                <span class="badge badge-info">Dịch vụ đã hoàn thành</span>
                            }
                            else if (@serviceDetail?.StatusOrderService?.Trim() == "Cancelled")
                            {
                                <span class="badge badge-info">Dịch vụ bị huỷ</span>
                            }
                        </div>
                        @if ((serviceDetail.FeedbackStatus == null || serviceDetail.FeedbackStatus == false) && @serviceDetail?.StatusOrderService?.Trim() == "Completed")
                        {
                            <div class="btn-content-detail">
                                <button class="btn btn-outline-primary" onclick="openPopupService('@serviceDetail.Service.Picture', '@serviceDetail.Service.ServiceName', '@serviceDetail.Weight', '@serviceDetail.ServiceId', '@order.UserInfoId', '@order.OrderId')">Đánh giá</button>
                            </div>
                        }
                    }
                </div> 
            }
            @*End - Service Detail*@

            @*Start - Room Detail*@
            @if (order.BookingRoomDetails != null && order.BookingRoomDetails.Count > 0)
            {
                <div class="content-details">
                    <p class="bold-text">Thông tin phòng đã được đặt hàng</p>
                    @foreach (var roomDetail in order.BookingRoomDetails)
                    {
                        totalPrice = totalPrice + (double)roomDetail.TotalPrice;
                        <div class="content-detail">
                            <div class="room-info">
                                <img src="@roomDetail.Room.Picture" width="50" height="50" alt="Room Image">
                                <div class="room-info-detail">
                                    <p style="max-width:800px">@roomDetail.Room.RoomName</p>
                                    @foreach (var roomService in order.BookingRoomServices)
                                    {
                                        <div class="room-info-detail-service">
                                            <p style="font-size:.8rem;">Dịch vụ: @roomService.Service.ServiceName</p>
                                            <p class="price-service-rooom" style="font-size:.8rem;">@($"{(roomService.PriceService):n0}".Replace(",", ".")) VNĐ</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="content-detail-time">
                            <p style="font-size:.9rem;">Thời gian bắt đầu: @roomDetail.StartDate</p>
                            <p style="font-size:.9rem;">Thời gian kêt thúc: @roomDetail.EndDate</p>
                        </div>
                        @if ((roomDetail.FeedbackStatus == null || roomDetail.FeedbackStatus == false) && order?.OrderStatus.Trim() == "Confirmed")
                        {
                            <div class="btn-content-detail">
                                <button class="btn btn-outline-primary" onclick="openPopupRoom('@roomDetail.Room.Picture', '@roomDetail.Room.RoomName', '@roomDetail.RoomId', '@order.UserInfoId', '@order.OrderId')">Đánh giá</button>
                            </div>
                        }
                    }
                </div>
            }
            @*End - Room Detail*@
            <div class="headel-content">
                <p>Tổng giá : </p>
                <p>@(totalPrice.ToString("n0").Replace(",", ".")) VNĐ</p>
            </div>
            <div class="work-container-inner">
                @if (order != null && order.TypePay != null && order.TypePay.Trim() == "cash")
                {
                    <p>Thanh toán trực tiếp</p>
                }
                @if (order != null && order.TypePay != null && @order.TypePay.Trim() == "vnpay")
                {
                    <p>Thanh toán bằng hình thức chuyển khoản</p>
                }
                @if (@order.StatusPayment == false)
                {
                    <span class="badge badge-info">Chưa thanh toán</span>
                }
                @if (@order.StatusPayment == true)
                {
                    <span class="badge badge-info">Đã thanh toán</span>
                }
            </div>
        </div>
    }
}
