<link href="~/css/datatable.css" rel="stylesheet" />
<link href="~/css/toastNotification.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            // Khởi tạo DataTables
            var table = $('#lists').DataTable({
                "responsive": true,
                "paging": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "columnDefs": [
                    { "targets": [0], "width": "5%" },
                    { "targets": [1], "width": "25%" },
                    { "targets": [2], "width": "35%" },
                    { "targets": [3], "width": "10%" }, 
                    { "targets": [4], "width": "15%" },
                    { "targets": [5], "width": "10%" },
                ],
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ dòng",
                    "info": "Hiển thị _START_ - _END_ trên tổng cộng _TOTAL_ dòng",
                    "search": "Tìm kiếm:",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Tiếp",
                        "previous": "Trước"
                    }
                },
            });

            // Thêm nút "Thêm dịch vụ" bên phải thanh tìm kiếm
            var addButton = $('<button  id="addButton" class="btn btn-add btn-primary">Thêm Loại Sản Phẩm</button>');
            $('.dataTables_filter').append(addButton);

            // Đính kèm sự kiện click cho nút "Thêm dịch vụ"
            $('#addButton').on('click', function () {
                // Navigate to the "addservicecategory" page
                window.location.href = '/Manager/ProductCategory/CreateNewProductCategory'; // Update this URL as needed
            });

        });
    </script>

<h1>Danh Sách Loại Sản Phẩm Cho Thú Cưng</h1>

<table id="lists" class="display">
    <thead>
        <tr>
            <th>No.</th>
            <th>Tên Loại Sản Phẩm</th>
            <th>Mô Tả</th>
            <th>Ảnh</th>
            <th>Trạng thái</th>
            <th>Chi Tiết</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            int itemCount = 0;
            foreach (var pc in Model)
            {
                itemCount++;
                
                        string description = pc.Desciptions;

                        if (description != null)
                        {
                            if (description.Length > 100)
                            {
                                int lastSpace = description.LastIndexOf(' ', 100);
                                description = (lastSpace > 0) ? description.Substring(0, lastSpace) + "..." : description.Substring(0, 100) + "...";
                            }
                            else
                            {
                               description = pc.Desciptions;
                            }
                        }
                        else
                        {
                            description = string.Empty;
                        }
                <tr>
                    <td>@itemCount</td>
                    <td>@pc.ProCategoriesName</td>
                    <td>@description</td>
                    <td><img src="@pc.Picture" width="50" height="50"></td>
                    <td>
                        @if (@pc.Status)
                        {
                            <button class="btn-active" onclick="toggleStatus(this)">Đang hoạt động</button>
                        }
                        else
                        {
                            <button class="btn-inactive" onclick="toggleStatus(this)">Ngưng hoạt động</button>
                        }
                    </td>
                    <td>
                        <a class="btn-detail" href="/Manager/ProductCategory/Update?procateId=@pc.ProCategoriesId">Chi tiết</a>
                    </td>

                </tr>
            }
        }
    </tbody>
    <tfoot>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <span style="color:red">@ViewBag.ErrorMessage</span>
            </div>
        }
    </tfoot>
</table>
<style>
    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

    .future-status {
        color: gray;
    }

    .complete-status {
        color: green;
    }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        margin-bottom: 10px;
    }

    .btn-add {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: 4px;
        background-color: #E21033;
        border: none;
        color: white;
        padding: 7px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0px 10px;
        cursor: pointer;
        float: right;
        margin-right: 30px;
        margin-bottom: 20px;
    }

        .btn-add:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            background-color: #ff6347;
        }

    .dataTables_wrapper .dataTables_filter input[type="search"] {
        margin-left: 10px;
        background-color: white;
    }

    .dataTables_wrapper {
        margin: 30px;
    }

    .btn-active {
        background-color: #43e240;
        color: white;
        font-size: 13px;
        width: 135px;
        height: 40px;
        border-radius: 5px;
        border: none;
    }

    .btn-inactive {
        background-color: #f2110d;
        color: white;
        font-size: 13px;
        width: 135px;
        height: 40px;
        border-radius: 5px;
        border: none;
    }

    .btn-active:hover {
        background-color: #26B323;
        color: black;
    }

    .btn-inactive:hover {
        background-color: #d30f0b;
        color: black;
    }

    .btn-detail {
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        display: inline-block;
        padding: 8px;
        border: 1px solid ;
        width: 100px;
        height: 40px;
        background-color: #E21033;
        text-decoration: none;
        cursor: pointer;
    }

    .btn-detail:hover{
            color: black;
        }

</style>